.auditions_wrap {
    position: relative;
    background-image: url('../img/animation-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 5%;
    // margin-top: 100px;

    #banner {

        position: relative;

        h2 {
            color: #000;
            font-family: "POPPINS-MEDIUM";
            font-size: 70px;
            position: absolute;
            top: 52%;
            text-transform: uppercase;
            letter-spacing: 2px;
            right: 5%;
            transform: translate(-50%, -50%);

            @include mv-media(max, 767px) {
                font-size: 25px;
                top: 33%;
                right: -10%;
            }

            @include mv-media(768px, 992px) {
                top: 47%;
                font-size: 55px;
                right: -5%;
            }
        }
    }

    .banner-text {
        text-align: center;
        padding: 20px;
        position: relative;

        h2 {
            color: #000;
            text-transform: uppercase;
            font-family: $pops-medium;
            text-align: left;
            letter-spacing: 1px;

        }

        .postbox {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .formWrap {
        display: flex;
        flex-direction: row;
        position: relative;

        h4 {
            font-size: 30px;
            color: #1b1b1b;
            text-align: center;
            padding-bottom: 50px;
            font-family: $pops-regular;

            @include mv-media(max, 767px) {
                font-size: 20px;
                padding-bottom: 35px;
                padding-top: 25px;
            }
        }

        h6 {
            font-size: 30px;
            color: #1b1b1b;
            text-align: center;
            padding-bottom: 50px;
            font-family: $pops-regular;

            @include mv-media(max, 767px) {
                font-size: 20px;
                //                padding-bottom: 35px;
                //                padding-top: 25px;
            }
        }

        .left-pattern {
            position: absolute;
            top: 66px;
            left: 45px;
            width: 180px;

            @include mv-media(max, 767px) {
                display: none;
            }

            @include mv-media(768px, 992px) {
                left: 0;
            }

            @include mv-media(993px, 1200px) {
                left: 0;
            }
        }

        .address {
            position: relative;
            display: flex;
            align-items: center;

            .addressWrap {
                position: relative;

                .address-container {
                    position: absolute;
                    top: 50%;
                    left: 10%;
                    transform: translate(1%, -50%);
                }

                h3 {
                    font-family: $pops-medium;
                    margin: 0;
                    margin-bottom: 15px;
                    font-size: 24px;
                    letter-spacing: 1px;
                    text-transform: capitalize;
                    color: #000;
                }

                h4 {
                    font-family: $pops-medium;
                    font-size: 18px;

                    a {
                        color: #747474;
                        margin: 0;
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

                .desc {
                    display: flex;
                    align-items: flex-start;

                    p {
                        margin-right: 10px;
                        font-family: $pops-regular;
                        line-height: 1.5;
                        margin-bottom: 15px;

                        .fa-phone {
                            transform: rotate(-270deg);
                        }

                        a {
                            color: #000;
                        }
                    }
                }
            }
        }

        .form-container {
            background-color: transparent;
            padding: 40px;
            background-image: url('../img/contact/form_bg.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            margin-bottom: 20%;

            @include mv-media(max, 767px) {
                padding: 10px 0 40px 0;
            }

            .right-pattern {
                position: absolute;
                bottom: -100px;
                right: -30px;
                width: 180px;

                @include mv-media(max, 767px) {
                    display: none;
                }

                @include mv-media(768px, 992px) {
                    right: 0;
                }

                @include mv-media(993px, 1200px) {
                    right: 0;
                }
            }

            .file-field {
                .btn {
                    padding: 4px 20px 50px 20px;
                    margin-top: 15px;
                    border: 0;
                    background-color: #efca46;

                    &:hover {
                        border: 0;
                        color: #000000;
                        background: #fff;
                    }
                }
            }

            label,
            p {
                padding-left: 15px;
                font-family: $pops-regular;
                color: #000;
                text-transform: capitalize;
                font-size: 16px;
            }

            p {
                padding-left: 0;
                font-size: 14px;
            }

            h6 {
                font-size: 10px;
                margin-top: -10px;
                text-align: left;
                padding-bottom: 10px;
                font-family: $pops-regular;
            }

            h5 {
                font-size: 10px;
                margin-top: -10px;
                text-align: right;
                font-family: $pops-regular;
            }

            .captcha_code {
                margin-top: 15px;
                display: table;

                .code {
                    display: inline-block;
                    background-color: #efca46;
                    color: #000;
                    text-align: center;
                    font-size: 14px;
                    letter-spacing: 1px;
                    font-family: $pops-regular;
                    text-transform: uppercase;
                    padding: 12px 25px;
                }

                span {
                    font-family: $pops-regular;
                    color: #000;
                    text-transform: capitalize;
                    font-size: 14px;
                    display: table-cell;
                    vertical-align: middle;
                    padding: 0 12px;
                    text-align: center;
                }
            }

            .captchabox {
                border: 1px solid #dadada;
                background-color: #dadada;
                text-transform: capitalize;
                text-align: center;
                font-size: 14px;
                font-family: $pops-regular;
                letter-spacing: 1px;
                margin-top: 20px;
                @include mv-placeholder-color(#333);

                &:focus {
                    border-bottom: 0px;
                    box-shadow: none;
                }
            }

            .btn {
                background: transparent;
                border: 1px solid #000;
                border-radius: 0;
                font-size: 16px;
                letter-spacing: 1px;
                text-transform: capitalize;
                padding: 8px 45px;
                font-family: $pops-regular;
                margin-top: 25px;
                transition: all 1s ease;

                &:hover {
                    background-color: #efca46;
                    color: #fff;
                    border: 1px solid #efca46;
                }
            }
        }
    }

    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #000;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: #000;
    }

    :-ms-input-placeholder {
        /* IE 10+ */
        color: #000;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: #000;
    }
}
