#blog{
	// margin-top: 100px;

	.blog-banner{

	}

	.blog-section{
		padding-top: 5em;
		padding-bottom: 5em;
		background-image: url('../img/blog/blog-bg.jpg');
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		.select-row{
            display: flex;
            justify-content: center;
            padding: 20px 0px;
            .category-select{
                @include mv-media(max,767px){
                    width: 100%;
                }
                width: 25%;
                margin-right: 2%;
            }
            .year-select{
                width: 15%;
                @include mv-media(max,767px){
                    width: 100%;
                }
            }
            .nice-select{
                border-radius: 0px;
                border-color: #000;
                font-size: 16px;
                font-family: $pops-light;
                letter-spacing: 1px;
                &:after{
                    border-bottom: 2px solid #000;
                    border-right: 2px solid #000;
                    height: 10px;
                    margin-top: -7px;
                    width: 10px;
                }
                .current{
                    font-weight: bold;
                }
                .option{
                    &:hover{
                        background: #000;
                        color: $color_yellow;
                    }
                    &.focus{
                        background: #000;
                        color: $color_yellow;
                    }
                    &.selected{
                        &.focus{
                            background: #000;
                            color: $color_yellow;
                        }
                    }
                    
                }
            }
        }

		.our-blog-text{
			text-align: center;
			margin-bottom: 2em;
			// margin-top: 6em;

			.our-text-img{
				display: inline-block;
			}

			.blog-text-img{
				display: inline-block;
			}

			.star-blog-img{
				position: absolute;
			    top: -130px;
			    right: 180px;
			}
		}

		.blog-same-height{
			@include mv-media(min,768px){
				display: flex;
			}
			
			.left-block-blogs{
				margin-top: 3em;
				box-shadow: 0px 0px 25px #f1f1f1;
				.left-block-blogs-text{
					padding: 40px 30px;
					background-color: #fff;
					h1{
						font-family: $pops-regular;
						color: $color_head_cursive;
						text-transform: uppercase;
						font-size: 30px;
						margin-bottom: 15px;
						margin-top: 0;
						@include mv-media(max,767px){
							font-size: 20px;
						}

						@include mv-media(768px, 991px){
				            font-size: 22px;
				        }

						@include mv-media(992px, 1024px){
				            font-size: 25px;
				        }
					}

					h2{
						font-family: $pops-light;
						color: $color_head_cursive;
						font-size: 20px;
						margin-top: 10px;
						@include mv-media(max,767px){
							font-size: 16px;
						}
						@include mv-media(768px, 991px){
				            font-size: 18px;
				        }
					}

					p{
						font-family: $pops-light;
						color: $color_head_cursive;
						font-size: 16px;
						line-height: 1.4;
					}
				}
			}

			.right-block-blog{
				background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center;
			    margin-top: 3em;

			    .right-block-blogs-text{
			    	position: absolute;
				    bottom: 0;
				    left: 0;
				    padding: 80px 60px 50px;
				    width: 100%;
					z-index: 2;
					@include mv-media(max,767px){
						position: relative;
						left: -15px;
						padding: 80px 15px 15px;
						width: calc(100% + 30px);
					}

				    @include mv-media(768px, 991px){
			            padding: 80px 30px 50px;
			        }

			    	h1{
						font-family: $pops-regular;
						color: #fff;
						text-transform: uppercase;
						font-size: 30px;
						margin-bottom: 15px;
						margin-top: 0;

						@include mv-media(max,767px){
							font-size: 18px;
						}

						@include mv-media(768px, 991px){
				            font-size: 22px;
				        }

						@include mv-media(992px, 1024px){
				            font-size: 25px;
				        }
					}

					h2{
						font-family: $pops-light;
						color: #fff;
						font-size: 20px;
						margin-top: 10px;
						@include mv-media(max,767px){
							font-size: 14px;
						}

						@include mv-media(768px, 991px){
				            font-size: 18px;
				        }
					}

					p{
						font-family: $pops-light;
						color: #fff;
						font-size: 16px;
						line-height: 1.4;
						@include mv-media(max,767px){
							font-size: 14px;
						}
					}

					&:after{
						background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.5) 15%,rgba(19,19,19,0.9) 100%);
					    bottom: 0;
					    content: "";
					    left: 0;
					    position: absolute;
					    right: 0;
					    top: 0;
					    z-index: -1;
					}
			    }
			}
		}

		.blog-yellow-section{
			margin-top: 5em;
			.yellow-bg{
				background-color: $color_yellow;
				padding: 6em 10em 6em 6em;
				@include mv-media(max,767px){
					padding: 40px 15px;
				}
				h1{
					font-family: $pops-regular;
					color: $color_head_cursive;
					text-transform: uppercase;
					font-size: 30px;
					margin-bottom: 15px;
					margin-top: 0;
					@include mv-media(max,767px){
						font-size: 20px;
					}
					@include mv-media(768px, 991px){
			            font-size: 22px;
			        }

					@include mv-media(992px, 1024px){
			            font-size: 25px;
			        }
				}

				h2{
					font-family: $pops-light;
					color: $color_head_cursive;
					font-size: 20px;
					margin-top: 10px;
					@include mv-media(max,767px){
						font-size: 16px;
					}

					@include mv-media(768px, 991px){
			            font-size: 18px;
			        }
				}

				p{
					font-family: $pops-light;
					color: $color_head_cursive;
					font-size: 16px;
					line-height: 1.4;
				}
			}
		}

		.below-blog-section{
			@include mv-media(min,768px){
				display: flex;
				justify-content: space-between;
			}
			margin-top: 5em;
			.box{
				position: relative;
				@include mv-media(max,767px){
					margin-bottom: 5%;
				}
				@include mv-media(min,768px){
					width: 49%;
				}
				
				.blog-text{
					background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.5) 15%,rgba(19,19,19,0.9) 100%);
					padding: 5% 10%;
					position: absolute;
					bottom: 0;
					@include mv-media(max,992px){
						background: #000;
						position: relative;
					}
					.headline{
						font-family: $pops-regular;
						color: #fff;
						text-transform: uppercase;
						font-size: 30px;
						margin-bottom: 15px;
						margin-top: 0;
						@include mv-media(max,767px){
							font-size: 20px;
						}
						@include mv-media(768px, 991px){
				            font-size: 22px;
				        }

						@include mv-media(992px, 1024px){
				            font-size: 25px;
				        }
					}
					.date{
						font-family: $pops-light;
						color: #fff;
						font-size: 18px;
						margin-top: 10px;
					}
					.brief{
						font-family: $pops-light;
						color: #fff;
						font-size: 14px;
						line-height: 1.4;
					}
				}
			}
		}

	}

}