#blog{
	// margin-top: 100px;

	.blog-banner{

	}

	.blog-section{
		padding-top: 5em;
		padding-bottom: 5em;
		background-image: url('../img/blog/blog-bg.jpg');
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;

		.nav-tabs>li>a {
		    font-family: $pops-medium;
		    color: $color_head_cursive;
		    font-size: 25px;
		    transition: all 0.5s linear;
		    border: 0;
		    border-bottom: 5px solid transparent;

		    &:hover{
		    	background-color: transparent;
		    	border-color: transparent;
		    	// border-bottom: 5px solid;
		    }

		    &:focus{
		    	outline: none;
		    }
		}

		.nav-tabs > li {
		    float:none;
		    display:inline-block;
		    zoom:1;

		    &:active{
		    	a{
		    		color: $color_head_cursive;
		    		&:after{
			    		content: '';
					    width: 50%;
					    height: 5px;
					    background-color: #000;
					    position: absolute;
					    left: 15px;
					    bottom: 0px;
		    		}
		    	}
		    }

		}

		.nav-tabs {
		    text-align:center;
		    border: none;
		}

		.our-blog-text{
			text-align: center;
			margin-bottom: 8em;
			// margin-top: 6em;

			.our-text-img{
				display: inline-block;
			}

			.blog-text-img{
				display: inline-block;
			}

			.star-blog-img{
				position: absolute;
			    top: -130px;
			    right: 180px;
			}
		}

		.blog-same-height{
			@include mv-media(min,768px){
				display: flex;
			}
			
			.left-block-blogs{
				margin-top: 3em;
				box-shadow: 0px 0px 25px #f1f1f1;
				.left-block-blogs-text{
					padding: 40px 30px;
					background-color: #fff;
					h1{
						font-family: $pops-regular;
						color: $color_head_cursive;
						text-transform: uppercase;
						font-size: 30px;
						margin-bottom: 15px;
						margin-top: 0;

						@include mv-media(768px, 991px){
				            font-size: 22px;
				        }

						@include mv-media(992px, 1024px){
				            font-size: 25px;
				        }
					}

					h2{
						font-family: $pops-light;
						color: $color_head_cursive;
						font-size: 20px;
						margin-top: 10px;

						@include mv-media(768px, 991px){
				            font-size: 18px;
				        }
					}

					p{
						font-family: $pops-light;
						color: $color_head_cursive;
						font-size: 16px;
						line-height: 1.4;
					}
				}
			}

			.right-block-blog{
				background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center;
			    margin-top: 3em;

			    .right-block-blogs-text{
			    	position: absolute;
				    bottom: 0;
				    left: 0;
				    padding: 80px 60px 50px;
				    width: 100%;
					z-index: 2;
					@include mv-media(max,767px){
						position: relative;
						left: -15px;
						padding: 80px 15px 15px;
						width: calc(100% + 30px);
					}

				    @include mv-media(768px, 991px){
			            padding: 80px 30px 50px;
			        }

			    	h1{
						font-family: $pops-regular;
						color: #fff;
						text-transform: uppercase;
						font-size: 30px;
						margin-bottom: 15px;
						margin-top: 0;

						@include mv-media(max,767px){
							font-size: 18px;
						}

						@include mv-media(768px, 991px){
				            font-size: 22px;
				        }

						@include mv-media(992px, 1024px){
				            font-size: 25px;
				        }
					}

					h2{
						font-family: $pops-light;
						color: #fff;
						font-size: 20px;
						margin-top: 10px;
						@include mv-media(max,767px){
							font-size: 14px;
						}

						@include mv-media(768px, 991px){
				            font-size: 18px;
				        }
					}

					p{
						font-family: $pops-light;
						color: #fff;
						font-size: 16px;
						line-height: 1.4;
						@include mv-media(max,767px){
							font-size: 14px;
						}
					}

					&:after{
						background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.5) 15%,rgba(19,19,19,0.9) 100%);
					    bottom: 0;
					    content: "";
					    left: 0;
					    position: absolute;
					    right: 0;
					    top: 0;
					    z-index: -1;
					}
			    }
			}
		}

		.blog-yellow-section{
			margin-top: 5em;
			.yellow-bg{
				background-color: $color_yellow;
				padding: 6em 10em 6em 6em;
				@include mv-media(max,767px){
					padding: 40px 15px;
				}
				h1{
					font-family: $pops-regular;
					color: $color_head_cursive;
					text-transform: uppercase;
					font-size: 30px;
					margin-bottom: 15px;
					margin-top: 0;
					@include mv-media(max,767px){
						font-size: 20px;
					}
					@include mv-media(768px, 991px){
			            font-size: 22px;
			        }

					@include mv-media(992px, 1024px){
			            font-size: 25px;
			        }
				}

				h2{
					font-family: $pops-light;
					color: $color_head_cursive;
					font-size: 20px;
					margin-top: 10px;
					@include mv-media(max,767px){
						font-size: 16px;
					}

					@include mv-media(768px, 991px){
			            font-size: 18px;
			        }
				}

				p{
					font-family: $pops-light;
					color: $color_head_cursive;
					font-size: 16px;
					line-height: 1.4;
				}
			}
		}

		.below-blog-section{
			@include mv-media(min,768px){
				display: flex;
			}
			
			.right-block-blog{
				background-repeat: no-repeat;
			    background-size: contain;
			    background-position: center;
			    margin-top: 5em;
			    margin-right: 15px;
			    margin-left: 15px;
				height: 430px;
				@include mv-media(max,767px){
					margin-left:0px;
					margin-right: 0px;
				}

			    @include mv-media(768px, 991px){
		        	margin-top: 0;
		        	height: 350px;
		        }

			    .right-block-blogs-text{
			    	position: absolute;
				    bottom: 0;
				    left: 0;
				    padding: 80px 60px 50px;
				    width: 100%;
				    z-index: 2;

				    @include mv-media(768px, 991px){
			        	padding: 80px 15px 50px;
			        }

			    	h1{
						font-family: $pops-regular;
						color: #fff;
						text-transform: uppercase;
						font-size: 30px;
						margin-bottom: 15px;
						margin-top: 0;
						@include mv-media(max,767px){
							font-size: 20px;
						}
						@include mv-media(768px, 991px){
				            font-size: 22px;
				        }

						@include mv-media(992px, 1024px){
				            font-size: 25px;
				        }
					}

					h2{
						font-family: $pops-light;
						color: #fff;
						font-size: 18px;
						margin-top: 10px;
					}

					p{
						font-family: $pops-light;
						color: #fff;
						font-size: 14px;
						line-height: 1.4;
					}

					&:after{
						background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.5) 15%,rgba(19,19,19,0.9) 100%);
					    bottom: 0;
					    content: "";
					    left: 0;
					    position: absolute;
					    right: 0;
					    top: 0;
					    z-index: -1;
					}
			    }
			}
		}

	}

}