#blog-inside{
	background-image: url('../img/blog-inside/blog-inside-bg.jpg');
	background-position: cover;
	background-repeat: no-repeat;
	// margin-top: 100px;

	.blog-inside-banner-section{
		.blog-inside-img{
			margin-top: 6em;
		}

		.blog-inside-desc{
			padding-top: 4em;
			padding-bottom: 4em;
			h1{
				font-family: $pops-regular;
				color: $color_head_cursive;
				text-transform: uppercase;
				font-size: 30px;
				margin-top: 0;
				@include mv-media(max,767px){
					font-size: 20px;
				}
			}

			h2{
				font-family: $pops-light;
				color: $color_head_cursive;
				font-size: 20px;
				margin-top: 10px;
				@include mv-media(max,767px){
					font-size: 16px;
				}
			}

			p{
				font-family: $pops-light;
				color: $color_head_cursive;
				font-size: 16px;
				padding-bottom: 20px;
				line-height: 1.4;
			}
		}
	}

	.blog-inside-slider-section{
		padding-bottom: 5em;
		.blog-inside-slider{
			.owl-nav{
				.owl-prev{
					background-image: url('../img/arrow.png');
					position: absolute;
					left: -8%;
					top: 50%;
					width: 42px;
					height: 42px;
					transform: translateY(-50%) rotate(-180deg);

					@include mv-media(768px, 991px){
	    				left: -4%;
	    			}

					@include mv-media(992px, 1024px){
			            left: -4%;
			        }

					@include mv-media(1025px, 1280px) {
				    	left: -4%;
				    }
				}

				.owl-next{
					background-image: url('../img/arrow.png');
					position: absolute;
					right: -8%;
					top: 50%;
					width: 42px;
					height: 42px;
					transform: translateY(-50%);

					@include mv-media(768px, 991px){
	    				right: -4%;
	    			}

					@include mv-media(992px, 1024px){
				    	right: -4%;
				    }

					@include mv-media(1025px, 1280px) {
				    	right: -4%;
				    }
				}
			}
		}
	}

}