.career {
    overflow: hidden;
    // margin-top: 100px;
    .mx-10 {
        margin: 0 15px;
    }
    .career-banner-section{
        @include mv-media(max,767px){
            padding: 0px 15px;
        }
    }

    .lifeat {
        .lifeat-content {
            margin: -15% 0 8% 0;
            @include mv-media(max,767px){
                margin: 1% 0 8% 0;
            }
            h5{
                font-family: "POPPINS-LIGHT";
                color: #0e0e0e;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
                @include mv-media(max,767px){
                    font-size: 20px;
                }
            }
        }

        .lifeat-content-image {
            margin-bottom: 6%;
            text-align: center;

            img {
                margin: 0 auto;
                @include mv-media(max,767px){
                    width: 80%;
                }
            }
        }
    }

    .people {
        .meet-our-people {
            background-image: url('../img/career/meet-people-bg.png');
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            text-align: center;

            .live-animation-event {
                background-color: #fbd747;
                width: 88%;
                margin: 0 auto;
                padding: 2% 6%;
                margin-bottom: 5%;
                margin-top: -30px;
                @include mv-media(max,767px){
                    margin-top: 0px;
                }

                h2 {
                    font-family: "POPPINS-LIGHT";
                    text-align: center;
                    font-size: 40px;
                    line-height: 1.2;
                    color: #0e0e0e;
                    margin: 0;

                    @include mv-media(max,767px){
                        font-size: 16px;
                    }
                    @include mv-media(768px, 991px){
                        font-size: 25px;
                    }
                }
            }

            .meet-people-text {
                img {
                    margin: 0 auto;
                    @include mv-media(max,767px){
                        width: 80%;
                    }
                }
            }
        }

        .people-images {
            background-image: url('../img/career/people-bg.jpg');
            // background-size: cover;
            background-repeat: repeat;
            position: relative;
            padding: 3.3% 0 0 0;
            margin-top: 5%;
            @include mv-media(max,767px){
                background:#d2d1ce;
                background-image: none;
                padding: 20px 15px;
                margin-top: 25px;
            }

            .people-desc {
                cursor: pointer;
                margin-bottom: 20px;
                // margin-bottom: -130px;
                @include mv-media(max,767px){
                    margin-bottom: 20px;
                }

                @include mv-media(768px, 991px){
                    margin-bottom: 0px;
                }

                &:hover {
                    .people-img {
                        border-left: solid 5px $color_yellow;
                        border-top: solid 5px $color_yellow;
                        background-color: rgba(0, 0, 0, 0.3);
                        // @include mv-media(max,767px){
                        //     border: 0px;
                        // }

                        &:after {
                            opacity: 1;
                        }

                        img {
                            -webkit-filter: grayscale(0);
                            /* Safari 6.0 - 9.0 */
                            filter: grayscale(0);
                            // @include mv-media(max,767px){
                            //     -webkit-filter: grayscale(100%);
                            //     /* Safari 6.0 - 9.0 */
                            //     filter: grayscale(100%);
                            // }
                        }
                    }
                }

                .people-img {
                    // padding-top: 30px;
                    padding-top: 0px;
                    border-left: solid 5px transparent;
                    border-top: solid 5px transparent;
                    transition: ease all 300ms;
                    position: relative;
                    // @include mv-media(max,767px){
                    //     border: 0px;
                    // }

                    &:after {
                        content: "";
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        height: 65%;
                        background-color: $color_yellow;
                        width: 5px;
                        right: 0;
                        // @include mv-media(max,767px){
                        //     width: 0px;
                        // }
                    }

                    img {
                        margin: 0 auto;
                        -webkit-filter: grayscale(100%);
                        /* Safari 6.0 - 9.0 */
                        filter: grayscale(100%);
                    }
                }

                .people-name {
                    font-family: "POPPINS-LIGHT";
                    text-align: center;
                    font-size: 30px;
                    color: #0e0e0e;
                    background-color: $color_yellow;
                    padding: 20px 10px;
                    @include mv-media(max,767px){
                        font-size: 20px;
                    }
                    @include mv-media(768px, 1200px){
                        font-size: 18px;
                    }
                    @include mv-media(1201px, 1400px){
                        font-size: 24px;
                    }
                    @include mv-media(1401px, 1800px){
                        font-size: 22px;
                    }
                }

                .people-desig {
                    font-size: 18px;
                    font-family: $pops-light;
                    line-height: 1.4;
                    color: $color_black;
                    text-align: center;
                    padding: 15px 0;
                    height: 60px;
                    @include mv-media(max,767px){
                        font-size: 16px;
                    }

                    @include mv-media(768px, 1200px){
                        height: 85px;
                    }
                    @include mv-media(1201px, 1800px){
                        line-height: 1.2;
                        height: 70px;
                    }
                }
            }

            .social {
                a i {
                    color: #b5b5b5;
                    font-size: 22px;
                }
            }
        }

    }

    .job-openings {
        // margin-top: 12%;
        margin-top: 5%;
        .black-img{
           @include mv-media(max,767px){
               width: 80%;
           } 
        }
        .yellow-img{
           @include mv-media(max,767px){
               width: 80%;
           } 
        }

        @include mv-media(768px, 992px){
            margin-top: 6%;
        }

        @include mv-media(993px, 1200px){
            margin-top: 0;
        }

        .job-openings-text {
            text-align: center;
        }

        .job-roles {
            background-image: url('../img/career/job-opening-bg.png');
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            background-position: center center;
            padding: 21% 0 7% 0;
            margin-top: -7%;
            @include mv-media(max,767px){
                padding-bottom: 1%;
            }
            @include mv-media(768px, 992px){
                margin-top: -20%;
                padding-bottom: 1%;
            }
            @include mv-media(993px,1200px){
                padding: 32% 0 10% 0;
                margin-top: -14%;
            }

            .bg-white {
                background-color: white;
                padding: 10%;

                h4 {
                    margin-top: 0;
                    
                }

                h4,
                h5 {
                    font-family: "POPPINS-LIGHT";
                    color: #0e0e0e;
                    text-transform: uppercase;
                    font-weight: bold;
                    @include mv-media(max,767px){
                        font-size: 20px;
                    }
                }

                p {
                    font-size: 18px;
                    @include mv-media(max,767px){
                        font-size: 16px;
                    }

                    .link {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .d-flex {
        display: flex;

        @include mv-media(max, 991px){
            display: block;
            margin-bottom: 15px;
        }
    }

    .yellow-img {
        margin-left: -30px;
        z-index: 1;
        position: relative;
    }

    .black-img {
        z-index: 2;
        position: relative;
    }

    .underline {
        img {
            margin: 0 auto;
        }
    }

    .align-img-vertical {
        display: inline-block;
        vertical-align: middle;
    }

    .spacing-horizontal {
        width: 88%;
        margin: 0 auto;
        @include mv-media(max,767px){
            width: 100%;
        }
        @include mv-media(768px, 992px){
            padding-bottom: 1%;
        }

        .row-flex{
            display: flex;
            justify-content: center;
            // align-items: center;
            @include mv-media(max,767px){
                display: block;
            }
            .people-desc{
                margin: 0px 15px 20px;
                width: 23%;
                @include mv-media(max,767px){
                    margin: 0 0 20px;
                    width: 100%;
                }
            }
        }

    }

    p {
        font-size: 20px;
        font-family: $pops-light;
        line-height: 1.4;
        color: $color_black;
        @include mv-media(max,767px){
            font-size: 16px;
        }
    }
}

#career-inside{
    position: relative;
    position: relative;
    background-image: url('../img/animation-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5% 0 5%;

    .dot-bg{
        position: absolute;
        top: 12%;
    }

    &.career{

        .banner-heading{
            position: relative;
            padding: 15% 0 0;

            @include mv-media(768px, 991px){
                margin-top: 150px;
            }
            
            .heading{
                padding:3% 0; 
                background-color:#f1cd45;
                position: relative;
                height: 160px;
                box-sizing: border-box;

                .profile-name{
                    font-family: $pops-medium;
                    text-transform: uppercase;
                    font-size: 80px;
                    letter-spacing: 6px;
                    color: #000;
                    text-align: left;
                    margin: 0;
                    position: absolute;
                    top: -72px;
                    left: 8%;
                }

                .designation{
                    font-family: $pops-medium;
                    text-transform: capitalize;
                    font-size: 32px;
                    color: #000;
                    text-align: left;
                    margin: 0;
                    padding-left: 8%;
                }

                .profile {
                    position: absolute;
                    top: auto;
                    right: 4%;
                    width: 450px;
                    bottom: 0;
                }
            }

            
            
        }

        .details{
            
            padding: 5% 0;

            @include mv-media(768px, 991px){
                padding: 0% 3% 5%;
            }
            p{
                font-family: $pops-regular;
                color: #000;
                font-size: 18px;
                letter-spacing: 1px;
                line-height: 1.5;
                text-align: justify;
            }
        }

        .people{
            position:relative;
           .meet-our-people {
                background-color: transparent;
                background-image: none;
            }

            .people-images {
                background-color: transparent;
                background-image: none;
                padding: 6% 0 0;

                .people-img {
                    background-color: #c7c7c7;
                }

                .people-desc {
                    margin-bottom: 0;

                    .star {
                        position: absolute;
                        z-index: 1;
                        top: -65px;
                        right: 40px;
                        width: 165px;
                        opacity: 0;
                        transition: ease all 300ms;
                    }
                    &:hover{
                        .star{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        
    }

    


}

