.contact_wrap {
    position: relative;
    background-image: url('../img/animation-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // padding-top: 5%;
    // margin-top: 100px;

    #banner {

        position: relative;

        h2 {
            color: #000;
            font-family: $pops-medium;
            font-size: 70px;
            position: absolute;
            //		    top: 34%;
            top: 50%;
            text-transform: uppercase;
            letter-spacing: 2px;
            //		    left: 16%;
            left: 47%;
            text-align: left;

            @media screen and (max-width: 767px) {


                font-size: 26px;
                top: 31%;
                left: 44%;
                text-align: left;
            }

            @include mv-media(768px, 991px) {
                font-size: 50px;
                margin: 0;
                top: 50%;
            }

            @include mv-media(992px, 1024px) {
                font-size: 50px;
                margin: 0;
                top: 52%;
            }
        }
    }

    .banner-text {
        text-align: center;
        padding: 20px;
        position: relative;

        h2 {
            color: #000;
            text-transform: uppercase;
            font-family: $pops-medium;
            text-align: left;
            letter-spacing: 1px;

        }

        .postbox {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .formWrap {
        display: flex;
        flex-direction: row;
        position: relative;

        @media screen and (max-width: 767px) {

            display: block;
        }

        .left-pattern {
            position: absolute;
            top: 0;
            left: -60px;
            width: 180px;
        }

        .address {
            position: relative;
            display: flex;
            align-items: center;

            .addressWrap {
                position: relative;

                .map-direction {
                    @media screen and (max-width: 767px) {

                        display: none;
                    }
                }

                .address-container {
                    position: absolute;
                    top: 50%;
                    left: 10%;
                    transform: translate(1%, -50%);

                    @media screen and (min-device-width : 768px) and (max-device-width : 1024px) {
                        transform: translate(-7%, -45%);
                    }

                    @include mv-media(992px, 1024px) {
                        transform: translate(-7%, -44%);
                    }



                }

                h3 {
                    font-family: $pops-medium;
                    margin: 0;
                    margin-bottom: 15px;
                    //                    font-size: 24px;
                    font-size: 23px;
                    letter-spacing: 1px;
                    text-transform: capitalize;
                    color: #000;
                }

                h4 {
                    font-family: $pops-medium;
                    font-size: 18px;

                    @media screen and (min-device-width : 768px) and (max-device-width : 1024px) {
                        position: absolute;
                        top: 260px;
                    }

                    a {
                        color: #747474;
                        margin: 0;
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

                .desc {
                    display: flex;
                    align-items: flex-start;

                    p {
                        margin-right: 10px;
                        font-family: $pops-regular;
                        line-height: 1.5;
                        margin-bottom: 15px;

                        @include mv-media(992px, 1024px) {
                            margin-bottom: 30px;
                        }

                        .fa-phone {
                            transform: rotate(-270deg);
                        }

                        a {
                            color: #000;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .form-container {
            background-color: transparent;
            padding: 40px;
            background-image: url('../img/contact/form_bg.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;

            .right-pattern {
                position: absolute;
                bottom: -100px;
                right: -30px;
                width: 180px;

                @media screen and (max-width: 767px) {
                    right: 0;

                }

                @media screen and (min-device-width : 768px) and (max-device-width : 1024px) {
                    right: 0;
                }

            }

            label,
            p {
                padding-left: 15px;
                font-family: $pops-regular;
                color: #000;
                text-transform: capitalize;
                font-size: 16px;
            }

            p {
                padding-left: 0;
                font-size: 14px;
            }

            .captcha_code {
                margin-top: 15px;
                display: table;

                .code {
                    display: inline-block;
                    background-color: #efca46;
                    color: #000;
                    text-align: center;
                    font-size: 14px;
                    letter-spacing: 1px;
                    font-family: $pops-regular;
                    text-transform: uppercase;
                    padding: 12px 25px;
                }

                span {
                    font-family: $pops-regular;
                    color: #000;
                    text-transform: capitalize;
                    font-size: 14px;
                    display: table-cell;
                    vertical-align: middle;
                    padding: 0 12px;
                    text-align: center;
                }
            }

            .captchabox {
                border: 1px solid #dadada;
                background-color: #dadada;
                text-transform: capitalize;
                text-align: center;
                font-size: 14px;
                font-family: $pops-regular;
                letter-spacing: 1px;
                margin-top: 20px;
                @include mv-placeholder-color(#333);

                @media screen and (max-width: 767px) {
                    width: 100px;

                }


                &:focus {
                    border-bottom: 0px;
                    box-shadow: none;
                }
            }

            .btn {
                background: transparent;
                border: 1px solid #000;
                border-radius: 0;
                font-size: 16px;
                letter-spacing: 1px;
                text-transform: capitalize;
                padding: 8px 45px;
                font-family: $pops-regular;
                margin-top: 25px;
                transition: all 1s ease;

                &:hover {
                    background-color: #efca46;
                    color: #fff;
                    border: 1px solid #efca46;
                }
            }
        }


    }

    .mapWrap {
        margin-top: 150px;

        //        padding: 0px 50px;



        img {
            margin: 0 0 0 auto;
        }

        .map {
            filter: grayscale(100%);

        }
    }

    .contact-yellow-bg-enquires {
        background-color: $color_yellow;
        padding: 3% 3%;
        margin-top: 3%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        @include mv-media(max, 767px) {
            padding: 3%;
        }

        .for-box{
            width: 33.3%;
            @include mv-media(max,767px){
                width: 100%;
            }
            .for-content{
                display: flex;
                // flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                @include mv-media(max,767px){
                    margin-bottom: 20px;
                }
                .image-icon{
                    margin-right: 20px;
                }
            }
        }

        // .right-border {
        //     border-right: 2px solid #c0b047;

        //     @include mv-media(max, 676px) {
        //         border-right: none;
        //         margin-bottom: 20px;
        //     }

        //     @include mv-media(768px, 991px) {
        //         &:nth-child(2) {
        //             margin-bottom: 20px;
        //         }

        //         &:nth-child(2) {
        //             border-right: none;
        //             margin-bottom: 20px;
        //         }
        //     }
        // }

        p {
            font-size: 14px;
            font-family: $pops-light;
            line-height: 1.5;
            color: $color_black;
            a{
                font-weight: bold;
                text-decoration: none;
                color: inherit;
            }
        }
    }
}
