footer{
	background-color: $color_head_cursive;
	padding-top: 2%;
	padding-bottom: 2%;
	@include mv-media(max, 767px){
        padding-top: 5%;
    }

    @include mv-media(768px, 991px){
    	padding-top: 5%;
    }

	.copy-text{
		font-family: $pops-light;
		font-size: 14px;
		color: #fff;
		text-align: center;

		@include mv-media(max, 767px){
            padding-bottom: 15px;
        }

        @include mv-media(768px, 991px){
	    	padding-bottom: 15px;
	    }

		a{
			color: $color_yellow;
			text-decoration: none;
		}
	}

	.social-icons{
		text-align: center;

		@include mv-media(max, 767px){
            padding-bottom: 15px;
        }

        @include mv-media(768px, 991px){
	    	padding-bottom: 15px;
	    }

		a{
			text-decoration: none;
			color: #fff;
			padding-right: 25px;

			i{
				color: #fff;
				font-size: 22px;
			}
		}
	}

	a{
		text-decoration: none !important;

	}
	
	.ting-unit-wrap{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		transform: scale(0.7);
		// margin-top: 10px;
		@include mv-media(max, 991px){
			text-align: center;
			justify-content: center;
			margin-top: 10px;
		}

		.made-by-text{
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			p{
				color: $color_blue;
				font-family: $Lato-Black;
				background-color: $color_yellow;
				margin-bottom: 3px;
				padding: 2px 8px;
				border-radius: 3px;
				letter-spacing: 2px;
				font-size: 11px;
				text-transform: uppercase;
				font-weight: bold;
			}
		}

		img{
			display: inline-block;
			vertical-align: middle;
			width: 90px;
			margin-left: 5px;
			@include mv-media(max, 991px){
			// margin: 0 auto;
			}
			&.black-logo{
				filter: invert(1);
			}
		}

		a{
			// color: $color-orange-primary;
			color: $color_yellow;
			text-decoration: none;
			transition: all 0.5s ease-in;
			&:hover{
				// color: $color-orange-secondary;
				text-decoration: none;
			}
		}
	}
}