header {
    height: 115px;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;

    @include mv-media(max, 767px) {
        height: 50px;
    }

    &.header_fixed {
        top: 0;
        position: fixed;
        width: 100%;
        z-index: 10;
        box-shadow: 0px -10px 20px 3px #333;
    }

    .menu_items {
        height: 115px;
        @include mv-media(max,767px) {
            height: 50px;
        }
        // @include sm-down {
        //     height: 50px;
        // }
    }

    .menu_icon {
        display: inline-block;
        height: 115px;
        vertical-align: middle;
        padding-left: 20px;
        padding-right: 20px;

        @include mv-media(max,767px) {
            height: 50px;
        }

        // @include sm-down {
        //     height: 50px;
        // }

        .nav-icon3 {
            top: 50%;
            transform: translateY(-50%);
            position: relative;
            margin: 0;
        }

        .menu{
            text-transform: uppercase;
            left: 50px;
            position: relative;
            letter-spacing: 1px;
            font-weight: 600;
            color: $color_blue;
            font-family: $pops-light;
        }

    }

    .menu_social{
        display: flex;
        /* text-align: center; */
        align-items: center;
        justify-content: center;

        @include mv-media(768px, 991px) {
            justify-content: flex-end;
        }

        a{
            text-decoration: none;
            color: $color_blue;
            padding-left: 25px;

            @include mv-media(max, 991px) {
                
            }

            i{
                color: $color_blue;
                font-size: 22px;
            }
        }
    }

    .menu_logo {
        // margin-left: 20px;
        // margin-right: 20px;
        display: inline-block;
        vertical-align: top;

        // @include sm-down {
        //     width: 50px;
        //     height: 50px;
        //     margin-left: 10px;
        //     margin-right: 5px;
        // }

        img {
            position: absolute;
            // max-width: 220px;
            // width: 220px;
            height: 96px;
            left: 50%;
            top: 10px;
            transform: translateX(-50%);

            @include mv-media(max, 767px) {
                // max-width: 50px;
                width: 50%;
                height: 100%;
                top: 50%;
                transform: translate(-10%,-50%);
            }
        }
    }

    .vert_cent {
        position: relative;
        margin: 0;
    }

}

#hopemotion-header{
    .main-logo{
        // width: 150px;
        height: 60px;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%,-50%);
        @include mv-media(max,767px){
            height: 45px;
        }
        @include mv-media(768px,992px){
            height: 30px;
        }
        @include mv-media(993px,1200px){
            height: 45px;
        }
    }
    .hopemotion-logo {
        position: absolute;
        max-width: 100%;
        width: 35%;
        height: auto;
        // left: 65%;
        top: 50%;
        transform: translate(-50%,-50%);
        @include mv-media(max,767px){
            width: 45%;
        }
        @include mv-media(768px,1200px){
            width: 60%;
        }
        @include mv-media(1201px,1600px){
            width: 45%;
        }
    }
}
