#hopemotion {
    // margin-top: 100px;
    overflow: hidden;
    background-image: url('../img/animation-bg.jpg');
    // background-size: cover;
    background-position: center;
    background-repeat: repeat;

    .div-overflow {
        overflow: hidden;
    }

    .indicators-line > .carousel-indicators li {
        z-index: 5;
        position: relative;
    }

    .carousel-indicators {
        z-index: 5;
    }

    .making-form-text {
        // width: 0;
        // transition: linear all 1.5s;
        overflow: hidden;
        z-index: 1;
        position: relative;

        .making-text {
            @include mv-media(max, 767px) {
                width: 80%;
            }
        }
    }

    .form-border {
        &[data-scroll] {
            transition: opacity 1s;
        }

        &[data-scroll="in"] {
            opacity: 1;
        }

        &[data-scroll="out"] {
            opacity: 0;
        }
    }

    .making-form-text {
        &[data-scroll] {
            transition: all 1s linear;
        }

        &[data-scroll="in"] {
            opacity: 1;
            width: 100%;
            // animation-duration: 1.3s;
        }

        &[data-scroll="out"] {
            opacity: 0;
            width: 1px;
        }
    }

    .down {
        &[data-scroll] {
            transition: all 1s linear;
        }

        &[data-scroll="in"] {
            opacity: 1;
            transform: translateY(0%);
        }

        &[data-scroll="out"] {
            opacity: 0;
            transform: translateY(-50%);
        }
    }

    .appear {
        &[data-scroll] {
            transition: opacity 2s;
        }

        &[data-scroll="in"] {
            opacity: 1;
        }

        &[data-scroll="out"] {
            opacity: 0;
        }
    }

    .tv-history-grey-bg {
        &[data-scroll] {
            transition: opacity 2s;
        }

        &[data-scroll="in"] {
            opacity: 1;
        }

        &[data-scroll="out"] {
            opacity: 0;
        }
    }

    .history-couple-img {
        &[data-scroll] {
            transition: all 1s linear;
        }

        &[data-scroll="in"] {
            opacity: 1;
            transform: translateY(0);
        }

        &[data-scroll="out"] {
            opacity: 0;
            z-index: -1;
            transform: translateY(50%);
        }
    }

    .up {
        &[data-scroll] {
            transition: all 1s linear;
        }

        &[data-scroll="in"] {
            opacity: 1;
            transform: translateY(0);
        }

        &[data-scroll="out"] {
            opacity: 0;
            transform: translateY(50%);
        }
    }

    .grey-patch-img {

        &[data-scroll] {
            transition: all 1s linear;
        }

        &[data-scroll="in"] {
            opacity: 1;
            transform: translate(-50%, 0%);
        }

        &[data-scroll="out"] {
            opacity: 0;
            transform: translate(-50%, -50%);
        }
    }


    #bootstrap-touch-slider {

        .banner-slider {
            h1 {
                font-family: $jm;
                font-size: 80px;
                margin-bottom: 0;
                line-height: 1.2;

                @include mv-media(max, 767px) {
                    font-size: 40px;
                    margin-top: 0;
                    line-height: 1;
                }

                @include mv-media(768px, 991px) {
                    font-size: 50px;
                }

            }

            p {
                color: $color_yellow;
                font-size: 60px;
                letter-spacing: 1px;
                font-family: $pops-light;

                @include mv-media(max, 767px) {
                    font-size: 18px;
                }

                @include mv-media(768px, 991px) {
                    font-size: 35px;
                }

                @include mv-media(993px, 1200px) {
                    line-height: 1;
                }
            }
        }
    }

    .video-banner {
        position: relative;
        z-index: 1;
        position: relative;

        video {
            width: 100%;
        }
    }

    .meet-our-people {
        background-image: url('../img/career/meet-people-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        text-align: center;

        .live-animation-event {
            background-color: #fbd747;
            width: 88%;
            margin: 0 auto;
            padding: 2% 6%;
            margin-bottom: 5%;
            margin-top: -30px;

            @include mv-media(max, 767px) {
                margin-top: 0px;
            }

            h2 {
                font-family: "POPPINS-LIGHT";
                text-align: center;
                font-size: 40px;
                line-height: 1.2;
                color: #0e0e0e;
                margin: 0;

                @include mv-media(max, 767px) {
                    font-size: 16px;
                }

                @include mv-media(768px, 992px) {
                    font-size: 25px;
                }
                @include mv-media(993px,1200px) {
                    font-size: 30px;
                }
            }

            p {
                font-size: 20px;
                font-family: $pops-light;
                line-height: 1.4;
                color: $color_black;
                margin-top: 1%;

                @include mv-media(max, 767px) {
                    font-size: 16px;
                }
            }
        }

        .meet-people-text {
            img {
                margin: 0 auto;

                @include mv-media(max, 767px) {
                    width: 80%;
                }
            }
        }
    }

    .technology-section {
        // background-image: url('../img/hopemotion/technology-bg-dots.png');
        position: relative;
        // background-size: cover;
        // background-position: center;
        padding-top: 6%;

        // background-repeat: no-repeat;
        .dots-bg {
            position: absolute;
            top: 0;
            z-index: 1;
        }

        .sky-bg {
            position: absolute;
            top: -5%;
        }

        .making-text {
            @include mv-media(768px, 991px) {
                width: 380px;
            }
            @include mv-media(min,768px){
                margin: 0 auto;
            }
        }


        .innovation-text {
            margin-top: 8%;

            @include mv-media(992px, 1024px) {
                margin-top: 0;
            }

            // .making-form-text{
            // 	transform: translate(-11%, -20%);
            // }

            .making-form-text{
                margin-bottom: 1%;
            }

            .down {
                margin-top: 0;
                left: 15%;
                position: relative;
                margin-bottom: 1.5%;

                @include mv-media(993px, 1200px) {
                    left: 8%;
                }
            }

            .appear {
                transform: translateX(72%);

                @include mv-media(max, 767px) {
                    transform: translateX(25%);
                }

                @include mv-media(768px, 992px) {
                    transform: translateX(47%);
                }

                @include mv-media(993px, 1200px) {
                    transform: translateX(34%);
                }
            }

            p {
                // margin-top: 8%;
                background-color: #f7f8f9;
                // padding: 20px 30px;
                line-height: 1.4;
                font-size: 20px;
                letter-spacing: 1px;
                font-family: $pops-light;

                @include mv-media(max, 767px) {
                    font-size: 16px;
                    padding: 20px 15px;
                }

                // @include mv-media(768px, 991px) {
                //     margin-top: 2%;
                // }

                // @include mv-media(992px, 1024px) {
                //     margin-top: 2%;
                // }
            }
        }

        .technology-text {
            margin-top: 8%;

            @include mv-media(992px, 1024px) {
                margin-top: 0;
            }

            // .making-form-text{
            // 	transform: translate(-11%, -20%);
            // }

            .hippo {
                position: absolute;
                bottom: -5%;
                right: 30%;

                @include mv-media(max, 767px) {
                    bottom: 6%;
                    right: 3%;
                    width: 12%;
                }

                @include mv-media(768px, 992px) {
                    right: 2%;
                }

                @include mv-media(993px, 1200px) {
                    right: 24%;
                }
            }

            .down {
                margin-top: 0;
                left: 15%;
                position: relative;

                @include mv-media(993px, 1200px) {
                    left: 8%;
                }
            }

            .appear {
                transform: translateX(72%);

                @include mv-media(max, 767px) {
                    transform: translateX(25%);
                }

                @include mv-media(768px, 992px) {
                    transform: translateX(47%);
                }

                @include mv-media(993px, 1200px) {
                    transform: translateX(34%);
                }
            }

            p {
                margin-top: 8%;
                background-color: #f7f8f9;
                padding: 20px 30px;
                line-height: 1.4;
                font-size: 20px;
                letter-spacing: 1px;
                font-family: $pops-light;

                @include mv-media(max, 767px) {
                    font-size: 16px;
                    padding: 20px 15px;
                }

                @include mv-media(768px, 991px) {
                    margin-top: 2%;
                }

                @include mv-media(992px, 1024px) {
                    margin-top: 2%;
                }
            }
        }

        .technology-grey-bg {
            background-color: rgba(128, 128, 128, 0.3);
            margin-top: 6%;
            padding: 5%;
            margin-bottom: 2%;

            .technology-block {
                // padding: 0 5%;
                // @include mv-media(max,767px){
                // 	padding: 0 5%;
                // }

                // @include mv-media(992px, 1024px){
                // 	padding: 0 0%;
                // }

                h2 {
                    font-family: $pops-light;
                    font-size: 30px;
                    line-height: 1.2;
                    color: $color_black;
                    margin-top: 0;

                    @include mv-media(max, 767px) {
                        font-size: 22px;
                        margin-bottom: 10px;
                    }

                    @include mv-media(768px, 991px) {
                        margin-top: inherit;
                    }
                }

                p {
                    font-size: 18px;
                    font-family: $pops-light;
                    line-height: 1.4;
                    color: $color_black;

                    @include mv-media(max, 767px) {
                        font-size: 16px;
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .three-wheeler {
            right: 0;
            position: absolute;
            transform: translateY(-55%);

            @include mv-media(max, 767px) {
                display: none;
            }

            @include mv-media(768px, 992px) {
                img {
                    width: 205px;
                }
            }

            @include mv-media(993px, 1200px) {
                top: 114%;

                img {
                    width: 150px;
                }
            }

            @include mv-media(1201px, 1440px) {
                img {
                    width: 260px;
                }
            }

        }

        .anandi-friends {
            position: absolute;
            right: -4%;
            top: 115%;

            @include mv-media(max, 767px) {
                display: none;
            }

            @include mv-media(768px, 992px) {
                right: -35%;
                top: 108%;
                ;
            }

            @include mv-media(993px, 1200px) {
                right: -26%;
                top: 117%;
            }

            @include mv-media(1201px, 1440px) {
                right: -15%;
                top: 110%;
            }

            img {
                width: 80%;

                @include mv-media(768px, 992px) {
                    width: 42%;
                }

                @include mv-media(993px, 1200px) {
                    width: 45%;
                }

                @include mv-media(1201px, 1440px) {
                    width: 55%;
                }
            }
        }
    }

    .fondest-section {
        position: relative;
        padding-top: 6%;
        margin-top: 5%;
        padding-bottom: 8%;

        @include mv-media(max, 767px) {
            padding-bottom: 5%;
        }

        .dots-bg {
            position: absolute;
            top: 0;
            z-index: 1;
        }


        .making-text {
            @include mv-media(768px, 991px) {
                width: 380px;
            }
        }



        .technology-text {
            margin-top: 8%;
            margin-bottom: 15%;
            text-align: center;

            @include mv-media(992px, 1024px) {
                margin-top: 0;
            }

            .making-form-text {
                transform: translateY(-60%);
                // transform: translate(2%, -60%);
            }

            .hippo {
                position: absolute;
                top: 0%;
                left: 12%;

                @include mv-media(max, 767px) {
                    bottom: 0;
                    width: 12%;
                    top: 20%;
                    left: 5%;
                }

                @include mv-media(993px, 1200px) {
                    top: -22%;
                    left: 5%;
                }

                @include mv-media(768px, 992px) {
                    top: -102px;
                    left: 8%;
                }
            }

            .down {
                margin-top: -5%;
                left: 17%;
                position: relative;

                @include mv-media(768px, 992px) {
                    left: 0;
                }
            }

            .appear {
                transform: translateX(80%);
                margin-top: 1%;

                @include mv-media(max, 767px) {
                    transform: translateX(27%);
                }

                @include mv-media(768px, 992px) {
                    transform: translateX(0);
                }
            }
        }

        .series-row {
            position: relative;
            padding: 60px 0px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            @include mv-media(max, 767px) {
                align-items: flex-start;
                padding: 40px 0px;
            }

            .img-series {
                width: 35%;
                margin-right: 5%;

                @include mv-media(max, 767px) {
                    width: 100%;
                }

                .character-img {
                    position: absolute;

                    &.anandi {
                        bottom: 16%;
                        left: -40%;

                        @include mv-media(max, 767px) {
                            bottom: 46%;
                            left: -65%;
                        }
                    }

                    &.daduji {
                        top: 0%;
                        right: -18%;

                        @include mv-media(max, 767px) {
                            top: 2%;
                        }

                        @include mv-media(768px, 992px) {
                            top: 5%;
                            right: -41%;
                        }

                        @include mv-media(993px, 1200px) {
                            top: 30px;
                            right: -25%;
                        }
                    }

                    &.kuku-goat {
                        top: 1%;
                        left: -4%;

                        @include mv-media(max, 767px) {
                            top: 5%;
                        }
                    }

                    img {
                        width: 85%;

                        @include mv-media(768px, 992px) {
                            width: 52%;
                        }

                        @include mv-media(993px, 1200px) {
                            width: 64%;
                        }
                    }
                }
            }

            .text-series {
                width: 60%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                @include mv-media(max, 767px) {
                    width: 100%;
                }

                .series-box {
                    display: flex;

                    @include mv-media(max, 767px) {
                        flex-wrap: wrap;

                    }

                    .title {
                        font-family: $pops-medium;
                        font-size: 50px;
                        text-transform: uppercase;
                        color: $color_head_cursive;
                        margin-right: 5%;
                        width: 50%;

                        @include mv-media(max, 767px) {
                            width: 100%;
                            text-align: center;
                            font-size: 30px;
                        }

                        @include mv-media(768px, 992px) {
                            font-size: 30px;
                            width: 70%;
                        }

                        @include mv-media(993px, 1200px) {
                            font-size: 35px;
                        }
                    }

                    .brief {
                        font-family: $pops-light;
                        color: $color_head_cursive;
                        font-size: 20px;
                        line-height: 1.4;
                    }
                }

                .appear {
                    @include mv-media(max, 767px) {
                        transform: translateX(-50%);
                        left: 50%;
                        position: relative;
                    }
                }

                // .appear{
                // 	width: 28%;
                // }
            }

            &.two {
                @include mv-media(max, 767px) {
                    flex-direction: column-reverse;
                }

                .img-series {
                    margin-left: 5%;
                    margin-right: 0;
                }

                .text-series {
                    align-items: flex-end;

                    .series-box {
                        @include mv-media(max, 767px) {
                            flex-direction: column-reverse;
                        }

                        .title {
                            margin-left: 5%;
                            margin-right: 0;
                        }
                    }

                    // .appear{
                    // 	width: 30%;
                    // }
                }
            }
        }
    }

    .tree {
        transform: translate(0%, -95%);
        position: absolute;

        @include mv-media(max, 767px) {
            img {
                width: 18%;
            }
        }

        @include mv-media(768px, 992px) {
            img {
                width: 33%;
            }
        }

        @include mv-media(993px, 1440px) {
            img {
                width: 50%;
            }
        }

    }

    .snail {
        position: absolute;
        left: 30%;
        transform: translate(-50%, -80%);

        @include mv-media(max, 767px) {
            left: 45%;
        }

        @include mv-media(768px, 992px) {
            left: 32%;
        }

        @include mv-media(max, 1440px) {
            img {
                width: 50%;
            }
        }

    }

    .clients-img {
        margin: 15px 0px;
    }

    .clients-sec {
        background: $color-white;
        padding: 100px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .clients-channel {
            background: #fff;
            padding: 10px 35px;
            margin: 0px 8px;
            font-size: 30px;
            font-family: $pops-regular;
            font-weight: 600;
            letter-spacing: 1px;
            box-shadow: 0px -1px 5px 1px rgba(208, 5, 27, 0.20);

            @include mv-media(max, 767px) {
                padding: 10px 15px;
            }

            &.colors {
                color: #68318c;
            }

            &.starplus {
                color: #d00000;
            }
        }
    }

    .team-section {
        background: url('../img/hopemotion/yellow-team-bg.jpg') repeat;
        // background-size: cover;
        padding: 50px 0px;

        .head {
            text-align: center;
            font-size: 50px;
            letter-spacing: 1px;
            font-family: $pops-medium;
            font-weight: 600;
        }

        .team-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 80px 0px;

            .team-box {
                padding: 0px 15px;
                position: relative;

                @include mv-media(max, 767px) {
                    margin-bottom: 30%;
                }

                @include mv-media(768px, 992px) {
                    width: 50%;
                }

                @include mv-media(min, 993px) {
                    width: 33%;
                }

                .people-patch {
                    position: absolute;
                    top: -17%;
                    left: 30%;
                }

                .people-desc {
                    cursor: pointer;
                    // background: #c7c7c7;
                    // margin-bottom: -130px;

                    @include mv-media(768px, 991px) {
                        margin-bottom: 0px;
                    }

                    &:hover {
                        .people-img {
                            border-left: solid 5px $color-white;
                            border-top: solid 5px $color-white;
                            background-color: rgba(0, 0, 0, 0.3);

                            &:after {
                                opacity: 1;
                            }

                            img {
                                -webkit-filter: grayscale(0);
                                /* Safari 6.0 - 9.0 */
                                filter: grayscale(0);
                            }
                        }
                    }

                    .people-desig {
                        font-size: 18px;
                        font-family: $pops-light;
                        line-height: 1.4;
                        color: $color_black;
                        text-align: center;
                        padding: 15px 0;
                        height: 75px;

                        @include mv-media(max, 767px) {
                            font-size: 16px;
                        }

                        @include mv-media(768px, 1200px) {
                            height: 85px;
                        }

                        @include mv-media(1201px, 1800px) {
                            line-height: 1.2;
                            height: 70px;
                        }
                    }

                    p {
                        font-size: 20px;
                        font-family: $pops-light;
                        line-height: 1.4;
                        color: $color_black;

                        @include mv-media(max, 767px) {
                            font-size: 16px;
                        }
                    }

                    .people-img {
                        // padding-top: 30px;
                        border-left: solid 5px transparent;
                        border-top: solid 5px transparent;
                        transition: ease all 300ms;
                        position: relative;

                        &:after {
                            content: "";
                            opacity: 0;
                            position: absolute;
                            top: -5px;
                            height: 65%;
                            background-color: $color-white;
                            width: 5px;
                            right: -5px;
                        }

                        img {
                            margin: 0 auto;
                            -webkit-filter: grayscale(100%);
                            /* Safari 6.0 - 9.0 */
                            filter: grayscale(100%);
                        }
                    }

                    .people-name {
                        font-family: "POPPINS-LIGHT";
                        text-align: center;
                        font-size: 30px;
                        color: #0e0e0e;
                        background-color: $color-white;
                        padding: 20px 10px;

                        @include mv-media(max, 767px) {
                            font-size: 20px;
                            padding: 15px 5px;
                        }
                        @include mv-media(993px,1200px){
                            font-size: 24px;
                        }
                    }


                }
            }

        }

        // .row-flex{
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     @include mv-media(max,767px){
        //         display: block;
        //     }
        //     .people-desc{
        //         margin: 0px 15px 20px;
        //         width: 23%;
        //     }
        // }
    }

    .quotes-bg{
        background: url(../img/hopemotion/qoutes-bg.jpg) no-repeat;
        background-size: cover;
        padding: 65px 0px;
        .row-flex{
            @include mv-media(min,768px){
                display: flex;
                // justify-content: center;
                align-items: center;
                // justify-content: flex-end;
            }
            position: relative;
            
            @keyframes hippo-animate {
                0%{
                    transform: translateY(0%);
                }
                50%{
                    transform: translateY(20%);
                }
                100%{
                    transform: translateY(0%);
                }
            }
            @keyframes hippo-shadow-animate {
                0%{
                    filter: blur(6px);

                }
                50%{
                    filter: blur(0px);

                }
                100%{
                    filter: blur(6px);

                }
            }
            .hippo{
                @include mv-media(1201px,1400px){
                    left: 12%;
                }
                @include mv-media(1401px,1600px){
                    left: 10%;
                }
                @include mv-media(1601px,1800px){
                    left: 5%;
                }
                img{
                    margin: 0 auto;
                    width:60%;
                    @include mv-media(max,767px){
                        width: 150px;
                    }
                }
                .hippo-img{
                    animation-name: hippo-animate;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                }
                .hippo-shadow-img{
                    animation-name: hippo-shadow-animate;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                    margin-top: 20px;
                }
                
            }
            .brief{
                @include mv-media(max,767px){
                    text-align: center;
                }
                @include mv-media(min,768px){
                    width: 50%;
                    margin-left:10%;
                }
                .quotes-slider{
                    .item{
                        width: 100%;
                    }
                    .title{
                        font-size: 20px;
                        font-family: $pops-light;
                        line-height: 1.4;
                        color: $color_black;
                        font-weight: 600;

                        @include mv-media(max, 767px) {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .animation-sec{
        padding: 5% 0%;
        .anim-img-poster{
            width: 88%;
            margin: 0 auto;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                width: 99%;
                height: 10px;
                left: -10px;
                bottom: -10px;
                background: $color_yellow;
            }
            &:after{
                content: '';
                position: absolute;
                width: 10px;
                height: 95%;
                left: -10px;
                bottom: 0;
                background: $color_yellow;
            }
            .content{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 100%;
                .head{
                    text-align: center;
                    font-size: 50px;
                    letter-spacing: 2px;
                    font-family: $pops-medium;
                    color: #fff;
                    @include mv-media(max,992px){
                        font-size: 35px;
                        padding: 0px 5px;
                    }
                }
                .tv-history-btn{
                    margin-top: 40px;
                    @include mv-media(768px,992px){
                        margin-top: 25px;
                    }
                    .sphereorigins-btn{
                        background-color: $color_yellow;
                        border: 0px;
                        border-radius: 0;
                        font-family: $pops-light;
                        font-size: 16px;
                        letter-spacing: 2px;
                        padding: 10px 20px;
                        font-weight: 600;
                        transition: all 1s ease;
            
                        &:focus{
                            outline: none;
                        }

                        &:hover {
                            background-color: #fff;
                            color: $color_head_cursive;
                            border: 0px;
                        }
                    }
            
                }
            }
        }
    }


}
