#index {

    // margin-top: 100px;
    // .flims-webseries {
    //     width: 58%;

    //     font-family: "POPPINS-LIGHT";
    //     font-size: 16px;
    //     margin-left: 14%;
    //     line-height: 24px;
    //     padding-bottom: 4%;
    // }

    .div-overflow {
        overflow: hidden;
    }

    .indicators-line > .carousel-indicators li {
        z-index: 5;
        position: relative;
    }

    .carousel-indicators {
        z-index: 5;
    }

    .making-form-text {
        // width: 0;
        // transition: linear all 1.5s;
        overflow: hidden;
        z-index: 1;
        position: relative;

        .making-text {
            @include mv-media(max, 767px) {
                width: 80%;
            }
        }
    }

    .form-border {
        &[data-scroll] {
            transition: opacity 1s;
        }

        &[data-scroll="in"] {
            opacity: 1;
        }

        &[data-scroll="out"] {
            opacity: 0;
        }
    }

    .making-form-text {
        &[data-scroll] {
            transition: all 1s linear;
        }

        &[data-scroll="in"] {
            opacity: 1;
            width: 100%;
            // animation-duration: 1.3s;
        }

        &[data-scroll="out"] {
            opacity: 0;
            width: 1px;
        }
    }

    .down {
        &[data-scroll] {
            transition: all 1s linear;
        }

        &[data-scroll="in"] {
            opacity: 1;
            transform: translateY(0%);
        }

        &[data-scroll="out"] {
            opacity: 0;
            transform: translateY(-50%);
        }
    }

    .appear {
        &[data-scroll] {
            transition: opacity 2s;
        }

        &[data-scroll="in"] {
            opacity: 1;
        }

        &[data-scroll="out"] {
            opacity: 0;
        }
    }

    .tv-history-grey-bg {
        &[data-scroll] {
            transition: opacity 2s;
        }

        &[data-scroll="in"] {
            opacity: 1;
        }

        &[data-scroll="out"] {
            opacity: 0;
        }
    }

    .history-couple-img {
        &[data-scroll] {
            transition: all 1s linear;
        }

        &[data-scroll="in"] {
            opacity: 1;
            transform: translateY(0);
        }

        &[data-scroll="out"] {
            opacity: 0;
            z-index: -1;
            transform: translateY(50%);
        }
    }

    .up {
        &[data-scroll] {
            transition: all 1s linear;
        }

        &[data-scroll="in"] {
            opacity: 1;
            transform: translateY(0);
        }

        &[data-scroll="out"] {
            opacity: 0;
            transform: translateY(50%);
        }
    }

    .grey-patch-img {

        &[data-scroll] {
            transition: all 1s linear;
        }

        &[data-scroll="in"] {
            opacity: 1;
            transform: translate(-50%, 0%);
        }

        &[data-scroll="out"] {
            opacity: 0;
            transform: translate(-50%, -50%);
        }
    }


    #bootstrap-touch-slider {

        .banner-slider {
            h1 {
                font-family: $jm;
                font-size: 80px;
                margin-bottom: 0;
                line-height: 1.2;

                @include mv-media(max, 767px) {
                    font-size: 40px;
                    margin-top: 0;
                    line-height: 1;
                }

                @include mv-media(768px, 991px) {
                    font-size: 50px;
                }

            }

            p {
                color: $color_yellow;
                font-size: 60px;
                letter-spacing: 1px;
                font-family: $pops-light;

                @include mv-media(max, 767px) {
                    font-size: 18px;
                }

                @include mv-media(768px, 991px) {
                    font-size: 35px;
                }
            }
        }
    }

    .video-banner {
        position: relative;

        video {
            width: 100%;
        }
    }

    .tv-history-section {
        background-image: url('../img/dot-bg.jpg');
        position: relative;
        background-size: cover;
        background-position: center;
        padding-top: 6%;
        background-repeat: no-repeat;

        .tv-history-flex{
            @include mv-media(min,768px){
                display: flex;
                align-items: center;
            }
            
        }

        .making-text {
            @include mv-media(768px, 991px) {
                width: 380px;
            }
        }

        .tv-history-img {
            position: relative;
            margin-top: 12%;
            padding-bottom: 8px;

            .history-couple-img {
                position: relative;
                z-index: 3;
            }

            .grey-patch-img {
                position: absolute;
                // top: -8%;
                top: -20%;
                left: 50%;
                @include mv-media(max,767px){
                    top: -73%;
                }
            }

            .square-forming {
                // position: absolute;

                .square-border {
                    background-color: $color_yellow;
                    display: block;
                    position: absolute;

                    &:nth-child(1) {
                        width: 0%;
                        height: 8px;
                        top: 5%;
                        z-index: 1;
                        transition-timing-function: linear;
                        transition-property: width;
                        transition-duration: .5s;
                        transition-delay: 1.5s;
                    }

                    &:nth-child(2) {
                        width: 8px;
                        height: 0%;
                        bottom: 0%;
                        left: 0;
                        transition-timing-function: linear;
                        transition-property: height;
                        transition-duration: .5s;
                        transition-delay: 1s;
                    }

                    &:nth-child(3) {
                        width: 0%;
                        height: 8px;
                        right: 10%;
                        transition-timing-function: linear;
                        transition-property: width;
                        transition-duration: .5s;
                        transition-delay: .5s;
                    }

                    &:nth-child(4) {
                        height: 0%;
                        width: 8px;
                        right: 0%;
                        top: 5%;
                        transition-timing-function: linear;
                        transition-property: height;
                        transition-duration: .5s;
                        transition-delay: 2s;
                    }
                }
            }

            .square-border-top {
                width: 100% !important;
            }

            .square-border-left {
                height: 95% !important;
            }

            .square-border-bottom {
                width: 90% !important;
            }

            .square-border-right {
                height: 70% !important;
            }
        }

        // .ipad-text-center{
        // 	@include mv-media(768px, 991px){
        // 		text-align: center;
        // 	}
        // }

        .tv-history-text {
            margin-top: 8%;

            @include mv-media(992px, 1024px) {
                margin-top: 0;
            }

            .down {
                margin-top: -8%;
            }

            p {
                margin-top: 8%;
                background-color: #f7f8f9;
                padding: 20px 30px;
                line-height: 1.4;
                font-size: 20px;
                letter-spacing: 1px;
                font-family: $pops-light;

                @include mv-media(max, 767px) {
                    font-size: 16px;
                    padding: 20px 15px;
                }

                @include mv-media(768px, 991px) {
                    margin-top: 2%;
                }

                @include mv-media(992px, 1024px) {
                    margin-top: 2%;
                }
            }
        }

        .tv-history-grey-bg {
            background-color: rgba(128, 128, 128, 0.3);
            margin-top: 6%;
            padding: 4% 1%;
            margin-bottom: 2%;

            .tv-history-block {
                padding: 0 15%;

                @include mv-media(max, 767px) {
                    padding: 0 5%;
                }

                @include mv-media(992px, 1024px) {
                    padding: 0 0%;
                }

                h2 {
                    font-family: $pops-light;
                    font-size: 30px;
                    line-height: 1.2;
                    color: $color_black;
                    margin-top: 0;

                    @include mv-media(max, 767px) {
                        font-size: 22px;
                        margin-bottom: 10px;
                    }

                    @include mv-media(768px, 991px) {
                        margin-top: inherit;
                    }
                }

                p {
                    font-size: 18px;
                    font-family: $pops-light;
                    line-height: 1.4;
                    color: $color_black;

                    @include mv-media(max, 767px) {
                        font-size: 16px;
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .tv-history-btn {}
    }

    .conquering-animation-space-section {
        background-image: url('../img/animation-bg.jpg');
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #faf6f7;
        padding-bottom: 5%;

        .conquering-text {
            width: 550px;

            @include mv-media(768px, 991px) {
                width: 410px;
            }

            @include mv-media(max, 767px) {
                width: 80%;
            }
        }

        .girl-horse-img {
            position: relative;
            z-index: 3;
            animation-duration: 2s;
            margin-top: -16%;

            &[data-scroll] {
                transition: all 1s linear;
            }

            &[data-scroll="in"] {
                opacity: 1;
                transform: translateY(0%);
            }

            &[data-scroll="out"] {
                opacity: 0;
                transform: translateY(-50%);
            }
        }

        .star-grey-patch-img {
            position: absolute;
            top: 30%;
            z-index: 2;
        }

        .hopmotion-animation-text {
            padding-top: 20%;

            @include mv-media(max, 767px) {
                padding: 20% 5% 0;
            }

            .down {
                margin-top: -4%;

                @include mv-media(max, 767px) {
                    margin-top: -1%;
                }
            }

            .bold-para {
                font-family: $pops-regular;
                padding-top: 40px;
            }

            p {
                font-size: 16px;
                font-family: $pops-light;
                line-height: 1.4;
                color: $color_black;
                margin-bottom: 20px;
                margin-left: 0;
                // margin-left: -8%;

                // @include mv-media(max, 767px) {
                //     margin-left: 0;
                // }
            }

            .tv-history-btn {
                @include mv-media(min, 768px) {
                    text-align: left;
                }
            }
        }
    }

    .indian-entertaiment-home-section {
        background-image: url('../img/indian-entertain-bg.jpg');
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 50px;
        @include mv-media(max,767px){
            padding-bottom: 0px;
        }

        .entertainment-img {
            @include mv-media(max, 767px) {
                width: 80%;
            }

            @include mv-media(768px, 991px) {
                width: 650px;
            }
        }

        .entertainment-bg {
            background-color: $color_yellow;
            padding-bottom: 25%;

            .indian-entertaiment-text {
                text-align: center;

                h3 {
                    font-family: $jm;
                    font-size: 100px;
                    margin-bottom: 0;
                    line-height: 0.8;
                    color: $color_head_cursive;
                    display: inline-block;
                    padding-bottom: 4%;

                    div {
                        color: #fff;
                        font-size: 65px;
                        letter-spacing: 1px;
                        font-family: $pops-light;

                        @include mv-media(max, 767px) {
                            font-size: 30px;
                            margin-top: 10px;
                        }
                    }
                }

                p {
                    font-size: 16px;
                    font-family: $pops-light;
                    line-height: 1.4;
                    color: #1b1b1b;
                    padding: 0 20%;

                    @include mv-media(max, 767px) {
                        padding: 0 5%;
                    }

                    @include mv-media(768px, 991px) {
                        padding: 0 3%;
                    }
                }
            }
        }

        .entertainment-slider {
            margin-top: -25%;

            #select-tab-mob {
                display: block;
                margin: 10px 0px;
                background: #1b1b1b;
                color: #fff;
                border: 0px;
                font-family: $pops-light;
                font-size: 16px;
                letter-spacing: 1px;
                transition: all 0.5s ease-in;

                &:focus {
                    outline: 0px;
                }

                @include mv-media(max, 767px) {
                    margin: 20px 0px;
                }
            }

            .nav-tabs > li {
                float: none;
                display: inline-block;
                border: none;
            }

            .nav-tabs {
                text-align: center;
                padding-top: 3%;
                padding-bottom: 3%;
                border-bottom: none;
            }

            .nav-tabs > li > a {
                font-family: $pops-light;
                color: $color_black;
                font-size: 20px;
                letter-spacing: 1px;
                transition: all 0.5s ease-in;
                border: none;

                @include mv-media(max, 767px) {
                    font-size: 14px;
                    padding: 10px 5px;
                }

                @include mv-media(768px, 991px) {
                    font-size: 15px;
                }
                
                @include mv-media(993px,1200px){
                    padding: 10px;
                }
            }

            .nav-tabs > li.active > a,
            .nav-tabs > li.active > a:hover,
            .nav-tabs > li.active > a:focus {
                font-family: $pops-medium;
                background-color: transparent;
                border: none;
                font-size: 22px;

                @include mv-media(max, 767px) {
                    font-size: 14px;
                }

                @include mv-media(768px, 991px) {
                    font-size: 18px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 10%;
                    height: 3px;
                    width: 40%;
                    background-color: #fff;
                }
            }

            .nav > li > a:hover,
            .nav > li > a:focus {
                border-color: transparent;
                background-color: transparent;
            }

            .tab-content {
                .tab-pane {
                    display: block;
                    height: 0;

                    &.active {
                        height: auto;
                    }
                    @include mv-media(max,767px){
                        overflow: hidden;
                    }
                }

                .owl-carousel {
                    .item {
                        h4 {
                            text-align: center;
                            font-family: $pops-light;
                            color: $color_black;
                            font-size: 25px;
                            min-height: 55px;

                            @include mv-media(max, 767px) {
                                font-size: 18px;
                            }
                        }
                    }

                    .owl-next {
                        background-image: url('../img/arrow.png');
                        position: absolute;
                        bottom: 20%;
                        right: -10%;
                        width: 42px;
                        height: 42px;

                        @include mv-media(max, 767px) {
                            right: 0%;
                            bottom: 10%;
                        }
                    }

                    .owl-prev {
                        background-image: url('../img/arrow.png');
                        position: absolute;
                        bottom: 20%;
                        left: -10%;
                        width: 42px;
                        height: 42px;
                        transform: rotate(-180deg);

                        @include mv-media(max, 767px) {
                            left: 0%;
                            bottom: 10%;
                        }
                    }
                }

                .films-webseries{
                    padding-bottom: 5%;
                    @include mv-media(max,767px){
                        background: $color_yellow;
                        float: left;
                    }
                    .para{
                        font-family: $pops-light;
                        font-size: 18px;
                        line-height: 1.4;
                        margin: 0 auto;
                        width: 70%;
                        color: $color_black;
                    }
                    
                }
            }
        }
    }

    .achievements-section {
        position: relative;
        background: #f9f4f2;
        padding-top: 50px;

        .entertainment-img {
            @include mv-media(max, 767px) {
                width: 80%;
            }

            @include mv-media(768px, 991px) {
                width: 650px;
            }
        }

        .entertainment-bg {
            background-color: $color_yellow;
            padding-bottom: 5%;
            .achievements-slider{
                .row-flex{
                    @include mv-media(min,993px){
                        display: flex;
                        align-items: center;
                        .achieve-brief{
                            width: 40%;
                            order: 1;
                        }
                        .achieve-img{
                            width: 60%;
                            margin-left: 5%;
                            order:2;
                        }
                    }
                    
                    .achieve-brief{
                        .title{
                            font-size: 26px;
                            font-weight: 600;
                            font-family: $pops-light;
                            line-height: 1.4;
                            color: $color_black;
                            @include mv-media(max,992px){
                                font-size: 20px;
                                text-align: center;
                            }
                            @include mv-media(993px,1200px){
                                font-size: 22px;
                            }
                            
                        }
                        .desc{
                            font-size: 18px;
                            font-family: $pops-light;
                            line-height: 1.4;
                            color: $color_black;
                            @include mv-media(max,767px){
                                font-size: 16px;
                            }
                            .bold{
                                font-weight: bold;
                            }
                        }
                    }
                }
                .owl-dots{
                    margin-top: 25px;
                    @include mv-media(max,767px){
                        margin-top: 5px;
                    }
                    .owl-dot{
                        span{
                            background: #d0cfcc;
                            width: 8px;
                            height: 8px;
                        }
                        &.active{
                            span{
                                background: $color_blue;
                                width: 10px;
                                height: 10px;
                            }
                        } 
                        &:hover{
                            span{
                                background: $color_blue;
                            }
                        } 
                    }
                }
            }
        }
    }

    .meet-team-section {
        background-image: url('../img/animation-bg.jpg');
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 2%;
        padding-bottom: 5%;

        .meet-img {
            @include mv-media(max, 767px) {
                width: 80%;
            }

            @include mv-media(768px, 991px) {
                width: 400px;
            }
        }

        .team-img-ipad {
            @include mv-media(768px, 991px) {
                margin-top: 25%;
            }

            @include mv-media(992px, 1024px) {
                margin-top: 20%;
            }
        }

        .meet-team-text {
            padding-top: 5%;
            text-align: center;

            h3 {
                font-family: $jm;
                font-size: 115px;
                margin-bottom: 0;
                line-height: 0.8;
                color: $color_head_cursive;
                display: inline-block;
                // padding-bottom: 2%;

                // span{
                // 	color: $color_yellow;
                // 	font-size: 55px;
                // 	letter-spacing: 1px;
                // 	font-family: $pops-light;
                // }
            }

            p {
                font-size: 18px;
                font-family: $pops-light;
                line-height: 1.4;
                color: $color_black;
                padding: 2% 10% 5% 0;

                @include mv-media(max, 767px) {
                    font-size: 16px;
                }
            }
        }

        .people-name {
            font-family: "POPPINS-LIGHT";
            text-align: center;
            font-size: 30px;
            color: #0e0e0e;
            background-color: $color_yellow;
            margin-top: 20px;
            padding: 20px 10px;

            @include mv-media(max, 767px) {
                font-size: 20px;
            }

            @include mv-media(768px, 1200px) {
                font-size: 18px;
            }

            @include mv-media(1201px, 1400px) {
                font-size: 24px;
            }

            @include mv-media(1401px, 1800px) {
                font-size: 22px;
            }
        }

        .people-desig {
            font-size: 18px;
            font-family: $pops-light;
            line-height: 1.4;
            color: $color_black;
            text-align: center;
            padding: 15px 0;
            height: 60px;

            @include mv-media(max, 767px) {
                font-size: 16px;
            }

            @include mv-media(768px, 1200px) {
                height: 85px;
            }

            @include mv-media(1201px, 1800px) {
                line-height: 1.2;
                height: 70px;
            }
        }

        .tv-history-btn {
            text-align: left;
        }
    }

    .awards-winners-newsmakers {
        background-color: #dfdedb;
        padding-top: 3%;
        padding-bottom: 3%;
        position: relative;

        .meet-team-star {
            position: absolute;
            right: 0;
            top: -13%;

            @include mv-media(max, 767px) {
                top: 1%;
            }

            @include mv-media(768px, 992px) {
                display: none;
            }
        }

        .meet-team-star2 {
            position: absolute;
            left: 0;
            bottom: 5%;
        }

        .awards-winners-text {
            text-align: center;

            h3 {
                font-family: $jm;
                font-size: 80px;
                line-height: 0.6;
                color: $color_head_cursive;
                display: inline-block;

                div {
                    color: #fff;
                    font-size: 65px;
                    letter-spacing: 1px;
                    font-family: $pops-light;

                    @include mv-media(max, 767px) {
                        font-size: 30px;
                        margin-top: 10px;
                    }

                    .award-winner-head {
                        @include mv-media(max, 767px) {
                            width: 80%;
                        }
                    }
                }
            }

            p {
                font-size: 18px;
                font-family: $pops-light;
                line-height: 1.4;
                color: $color_black;

                @include mv-media(max, 767px) {
                    font-size: 16px;
                }
            }
        }

        .awards-winners-blocks {
            margin-top: 10%;

            p {
                font-size: 18px;
                font-family: $pops-light;
                line-height: 1.4;
                color: $color_black;
                padding-top: 20px;
                padding-bottom: 15px;

                @include mv-media(max, 767px) {
                    font-size: 16px;
                }
            }

            .sphereorigins-btn {
                background-color: transparent;
                padding-left: 0;
                font-family: $pops-extralight;

                &:focus {
                    outline: none;
                }

                i {
                    font-size: 14px;
                    padding-left: 10px;
                }
            }
        }
    }

    .contact-section {
        background-image: url('../img/animation-bg.jpg');
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 4%;

        a {
            text-decoration: none;
            color: $color_black;
        }

        .contact-address-section {
            .post-office-img {
                display: inline-block;
                width: 50%;

                @include mv-media(992px, 1024px) {
                    width: 45%;
                }
            }

            .contact-address-text {
                display: inline-block;
                vertical-align: top;

                .get-in-head {
                    @include mv-media(max, 767px) {
                        width: 80%;
                    }
                }

                h3 {
                    font-family: $jm;
                    font-size: 80px;
                    margin-bottom: 0px;
                    line-height: 0.8;
                    color: $color_head_cursive;
                    display: inline-block;
                    padding-bottom: 4%;
                    margin-top: 0;
                }

                h4 {
                    font-family: $pops-medium;
                    font-size: 20px;
                }

                p {
                    font-size: 16px;
                    font-family: $pops-light;
                    line-height: 1.4;
                    color: $color_black;
                    padding-bottom: 10px;
                }
            }
        }

        .contact-yellow-bg-enquires {
            background-color: $color_yellow;
            padding: 3% 3%;
            margin-top: 3%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            @include mv-media(max, 767px) {
                padding: 3%;
            }

            .for-box {
                width: 33.3%;

                @include mv-media(max, 767px) {
                    width: 100%;
                }

                .for-content {
                    display: flex;
                    // flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;

                    @include mv-media(max, 767px) {
                        margin-bottom: 20px;
                    }

                    .image-icon {
                        margin-right: 20px;
                    }
                }
            }

            // .right-border {
            //     border-right: 2px solid #c0b047;

            //     @include mv-media(max, 676px) {
            //         border-right: none;
            //         margin-bottom: 20px;
            //     }

            //     @include mv-media(768px, 991px) {
            //         &:nth-child(2) {
            //             margin-bottom: 20px;
            //         }

            //         &:nth-child(2) {
            //             border-right: none;
            //             margin-bottom: 20px;
            //         }
            //     }
            // }

            p {
                font-size: 14px;
                font-family: $pops-light;
                line-height: 1.5;
                color: $color_black;

                a {
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }
    }
}
