#news {
    .news-list-section {
        padding-top: 3%;
        padding-bottom: 3%;
        position: relative;
        background-repeat: repeat;
        background-position: center;
        background-image: url("../img/show/show-bg.jpg");
        .select-row{
            display: flex;
            justify-content: flex-start;
            padding: 20px 0px 40px;
            .category-select{
                @include mv-media(max,767px){
                    width: 100%;
                }
                width: 25%;
                margin-right: 2%;
            }
            .year-select{
                width: 15%;
                @include mv-media(max,767px){
                    width: 100%;
                }
            }
            .nice-select{
                border-radius: 0px;
                border-color: #000;
                font-size: 16px;
                font-family: $pops-light;
                letter-spacing: 1px;
                &:after{
                    border-bottom: 2px solid #000;
                    border-right: 2px solid #000;
                    height: 10px;
                    margin-top: -7px;
                    width: 10px;
                }
                .current{
                    font-weight: bold;
                }
                .option{
                    &:hover{
                        background: #000;
                        color: $color_yellow;
                    }
                    &.focus{
                        background: #000;
                        color: $color_yellow;
                    }
                    &.selected{
                        &.focus{
                            background: #000;
                            color: $color_yellow;
                        }
                    }
                    
                }
            }
        }

        .row-flex{
            @include mv-media(min,768px){
                display: flex;
                // align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            .news-box{
                background: rgba(255, 255, 255, 0.49);
                margin-bottom: 2%;
                box-shadow: 0px 0px 10px 2px #ddd;
                @include mv-media(min,768px){
                    width: 49%;
                }
                a{
                    color: inherit;
                    text-decoration: none;
                }
                .text{
                    padding: 20px;
                    
                    .headline{
                        font-family: $pops-light;
                        font-size: 24px;
                        @include mv-media(max,767px){
                            font-size: 20px;
                        }
                    }
                    
                    .sub-text{
                        font-family: $pops-light;
                        font-size: 16px;
                        line-height: 1.2;
                        color: $color_blue;
                        margin: 10px 0px;
                    }
                    .read-more-btn{
                        background: transparent;
                        border: 1px solid #000;
                        border-radius: 0;
                        font-size: 16px;
                        letter-spacing: 1px;
                        text-transform: capitalize;
                        padding: 12px 45px;
                        font-family: $pops-regular;
                        margin-top: 25px;
                        display: inline-block;
                        color: inherit;
                        text-decoration: none;
                        transition: all 1s ease;
        
                        &:hover {
                            background-color: #efca46;
                            color: #fff;
                            border: 1px solid #efca46;
                        }
                    }
                }
            }
        }
    }

    

}
