#show-inside {
    // margin-top: 100px;

    .making-form-text {
        &[data-scroll] {
            transition: all 1s linear;
        }

        &[data-scroll="in"] {
            opacity: 1;
            width: 100%;
            // animation-duration: 1.3s;
        }

        &[data-scroll="out"] {
            opacity: 0;
            width: 1px;
        }
    }

    .appear{
        &[data-scroll] {
            transition: opacity 2s;
        }
        &[data-scroll="in"] {
            opacity: 1;
        }
        &[data-scroll="out"] {
            opacity: 0;
        }
    }

    .down {
        &[data-scroll] {
            transition: all 1s linear;
        }

        &[data-scroll="in"] {
            opacity: 1;
            transform: translateY(0%);
        }

        &[data-scroll="out"] {
            opacity: 0;
            transform: translateY(-50%);
        }
    }

    .show-inside-bg {
        background-image: url('../img/show-inside/show-inside-bg.jpg');
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 15em;

        .yellow-bg {
            background-color: $color_yellow;

            .show-inside-desc {
                .main-show-inside-img {
                    margin-top: -8em;
                }

                .row-flex-trailer{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .trailer-btn{
                        border: 2px solid $color_head_cursive;
                        border-radius: 0;
                        font-family: $pops-light;
                        font-size: 16px;
                        letter-spacing: 2px;
                        padding: 0px 15px;
                        font-weight: 600;
                        @include mv-media(max,767px){
                            margin-left: 0px;
                        }
                        .light-item{
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            img{
                                width: 40px;
                            }
                        }
                        
                        .text{
                            margin-left: 10px;
                            font-family: $pops-light;
                            font-size: 18px;
                            color: $color_blue;
                        }
                    }
                }

                h1 {
                    font-family: $pops-regular;
                    color: $color_blue;
                    font-size: 35px;
                    @include mv-media(max,767px){
                        font-size: 30px;
                    }
                }

                h2 {
                    font-family: $pops-light;
                    font-size: 18px;
                    color: $color_blue;

                    .channel{
                        font-weight: 600;
                    }

                    img {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                p {
                    font-family: $pops-light;
                    font-size: 20px;
                    color: $color_blue;
                    line-height: 1.4;
                }
            }

            .inside-the-text-section {
                padding: 4em 5em;
                @include mv-media(max,767px){
                    padding: 0 15px;
                }

                .making-form-text {
                    overflow: hidden;
                    z-index: 1;
                    position: relative;
                    text-align: center;

                    h3 {
                        font-family: $jm;
                        font-size: 100px;
                        margin-bottom: 0;
                        line-height: 0.8;
                        color: $color_head_cursive;
                        display: inline-block;
                        padding-bottom: 4%;
                        margin-top: 3em;
                        @include mv-media(max,767px){
                            line-height: 30%;
                        }
                    }
                }

                .story-text {
                    color: #fff;
                    font-size: 65px;
                    letter-spacing: 1px;
                    font-family: $pops-light;
                    text-align: center;
                    margin-bottom: 40px;
                    @include mv-media(max,767px){
                        font-size: 30px;
                        margin-bottom: 0px;
                    }
                    @include mv-media(768px,1200px){
                        margin-bottom: 20px;
                    }
                }

                .inside-the-img {
                    width: 350px;
                    @include mv-media(max,767px){
                        width: 80%;
                    }
                    @include mv-media(768px,1400px){
                        width: 100%;
                    }
                }

                .zig-zag-inside-the-story {
                    margin: 0 auto;
                }

                p {
                    font-family: $pops-light;
                    font-size: 16px;
                    color: $color_blue;
                    line-height: 1.4;
                    padding-bottom: 15px;
                }
            }
        }
    }

    .three-section-bg {
        background-image: url('../img/show-inside/three-section-bg.jpg');
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 12em;
        padding-bottom: 5em;
        @include mv-media(max,767px){
            padding: 2em 0em;
        }

        .nav-tabs>li {
            float: none;
            display: inline-block;
            border: none;
        }

        .nav-tabs {
            text-align: center;
            // padding-top: 3%;
            padding-bottom: 3%;
            border-bottom: none;
        }

        .nav-tabs>li>a {
            font-family: $pops-light;
            color: $color_blue;
            font-size: 20px;
            letter-spacing: 1px;
            transition: all 0.5s ease-in;
            border: none;
            @include mv-media(max,767px){
                font-size: 14px;
            }
            @include mv-media(768px, 991px) {
                font-size: 15px;
            }
        }

        .nav-tabs>li.active>a,
        .nav-tabs>li.active>a:hover,
        .nav-tabs>li.active>a:focus {
            font-family: $pops-medium;
            background-color: transparent;
            border: none;
            font-size: 22px;
            @include mv-media(max,767px){
                font-size: 14px;
            }


            @include mv-media(768px, 991px) {
                font-size: 18px;
            }

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 15px;
                height: 3px;
                width: 50%;
                background-color: #fff;
            }
        }

        .nav>li>a:hover,
        .nav>li>a:focus {
            border-color: transparent;
            background-color: transparent;
        }

        .tab-content {
            .tab-pane{
                display: block;
                height: 0;
                &.active{
                    height: auto;
                }
            }
        }

        .show-inside-behind-the-scene {
            .owl-nav {
                .owl-prev {
                  background-image: url('../img/show-inside/white-arrow.png');
                    position: absolute;
                    left: 0%;
                    top: 50%;
                    width: 42px;
                    height: 42px;
                    transform: translateY(-50%) rotate(-180deg);

                    @include mv-media(767px, 991px) {
                        left: 0%;
                    }

                    @include mv-media(992px, 1024px) {
                        left: 0%;
                    }

                    @include mv-media(1025px, 1280px) {
                        left: 0%;
                    }
                }

                .owl-next {
                  background-image: url('../img/show-inside/white-arrow.png');
                    position: absolute;
                    right: 0%;
                    top: 50%;
                    width: 42px;
                    height: 42px;
                    transform: translateY(-50%);

                    @include mv-media(767px, 991px) {
                        right: 0%;
                    }

                    @include mv-media(992px, 1024px) {
                        right: 0%;
                    }

                    @include mv-media(1025px, 1280px) {
                        right: 0%;
                    }
                }
            }
        }

        .character-sketch-section{
            padding-top: 8em;
            padding-bottom: 5em;

            .character-text{
                @include mv-media(max,767px){
                    width: 40%;
                }
            }

            .sketch-img{
                padding-bottom: 20px;
                @include mv-media(max,767px){
                    width: 40%;
                }
            }

            .character-sketch-yellow-bg{
                background-color: $color_yellow;
                margin-top: 4em;
                padding-top: 5em;
                padding-bottom: 5em;
                padding-right: 3em;
                padding-left: 3em;
                float: left;
                @include mv-media(max,767px){
                    padding-left: 0;
                    padding-right: 0;
                }

                @include mv-media(767px, 991px){
                    padding-right: 1em;
                    padding-left: 1em;
                }

                .character-sketch-blocks{
                    padding: 0 2em;
                    text-decoration: none;
                    float: left;
                    .play-btn{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }

                    @include mv-media(767px, 991px){
                        padding: 0 1em;
                    }

                    h3{
                        font-family: $pops-regular;
                        color: $color_blue;
                        font-size: 25px;
                        @include mv-media(max,767px){
                            text-align: center;
                        }

                    }

                    p{
                        font-family: $pops-light;
                        font-size: 14px;
                        color: $color_blue;
                        line-height: 1.4;
                    }
                }
            }
        }

        .related-shows-section{
            .related-shows-head{
                padding-bottom: 3em;
                h4{
                    font-family: $pops-regular;
                    color: $color_blue;
                    font-size: 35px;
                }
            }

            .show-list-desc{
                h2{
                    font-family: $pops-regular;
                    font-size: 20px;
                    line-height: 1.4;
                    text-align: center;
                }
            }
        }
    }

}