#shows {
    .show-list-section {
        padding-top: 5%;
        padding-bottom: 3%;
        position: relative;
        background-repeat: repeat;
        background-position: center;
        background-image: url("../img/show/show-bg.jpg");

        .show-list-desc {
            padding: 2%;

            @include mv-media(max, 767px) {
                width: 80%;
                margin: 0 auto;
            }

            h2 {
                font-family: $pops-regular;
                font-size: 18px;
                line-height: 1.4;
                text-align: center;
                min-height: 56px;

                @include mv-media(max, 767px) {
                    font-size: 18px;
                }
            }

            .back_img {
                position: relative;

                &:after {
                    content: " ";
                    width: 10px;
                    left: -10px;
                    bottom: 0;
                    height: 97%;
                    background: #dbdada;
                    position: absolute;
                }

                &:before {
                    content: " ";
                    width: 99%;
                    left: -10px;
                    bottom: -10px;
                    height: 10px;
                    background: #dbdada;
                    position: absolute;
                }
            }
        }
    }

    .our-works {
        margin: 0 5px;

        @include mv-media(min, 768px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .work {
            position: relative;
            color: inherit;
            color: $color_yellow;
            font-family: $pops-medium;
            padding: 5% 1%;
            //transition: all .3s ease-out;
            font-size: 30px;
            //border: 5px solid #dbdada;
            text-align: center;
            text-decoration: none;
            // background-size: 100% !important;
            // background-repeat: no-repeat !important;
            // background-position: center !important;
            // justify-content: center;
            // display: flex;
            // align-items: center;
            @include mv-media(min,768px){
                margin: 5px;
            }

            .text {
                z-index: 2;
                color: #000;
                // font-size: 24px;
                position: relative;
                line-height: 1.2;
                text-align: center;
            }



            @include mv-media(min, 768px) {
                width: 33.3%;
            }

            @include mv-media(max, 767px) {
                font-size: 20px;
                width: 100%;
                display: block;
                padding: 10% 1%;
                margin-bottom: 10px;
            }

            @include mv-media(768px, 992px) {
                font-size: 18px;
            }

            @include mv-media(993px, 1200px) {
                font-size: 25px;
            }

            // @include mv-media(1201px, 1600px) {
            //     font-size: 35px;
            // }

            &::after {
                content: '';
                position: absolute;
                background-color: #eee;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 1;
                z-index: 1;
                transition: all 0.3s linear;
            }

            &:hover {
                .text {
                    color: $color_yellow;
                }

                &::after {
                    opacity: 0.85;
                    background-color: #000;
                    color: $color_yellow;
                }

                // transform: scale(1.2);
                // @include mv-media(min, 1201px) {
                //     background-size: 120% !important;
                // }
            }

            // &.telefilms {
            //     background: url(../img/show/our-work/telefilms.jpg);
            // }

            // &.regional {
            //     background: url(../img/show/our-work/regional.jpg);
            // }

            // &.animation {
            //     background: url(../img/show/our-work/animation.jpg);
            // }

            // &.show {
            //     background: url(../img/show/our-work/shows.jpg);
            // }

        }
    }

}
