#shows{
	// margin-top: 100px;

	.shows-banner-section{
		background-image: url('../img/show/show-banner.png');
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		height: 562px;

		.outer-valign{
            display: table;
            height: 562px;
            width: 100%;
            
            .inner-valign{
                display: table-cell;
                vertical-align: middle;
               	
               	.making-form-text{
					width: 0;
					transition: linear all 1.5s;
					overflow: hidden;
					margin-top: 25%;
               	}
            }
        }
	}

	.show-list-section{
		padding-top: 5%;
		padding-bottom: 3%;
		.show-list-desc{
			padding-bottom: 2%;
			h2{
				font-family: $pops-regular;
				font-size: 20px;
				line-height: 1.4;
				text-align: center;
				@include mv-media(max,767px){
					font-size: 18px;
				}
			}
		}
	}

}