.sidebar {
    display: table;
    position: fixed;
    transform: translateX(-100%);
    height: 100vh;
    text-align: center;
    z-index: 9;
    padding-top: 70px;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 700ms ease;
    background-color: #fff;

    @include mv-media(max, 767px) {
        padding-top: 50px;
    }

    .sidebar_img {
        position: relative;

        .sidebar_img_bg {
            bottom: 0;
            height: 100vh;
            width: 100%;
            position: absolute;

            @include mv-media(max, 767px) {
                bottom: inherit;
            }

            @include mv-media(768px, 992px) {
                bottom: inherit;
            }

            @include mv-media(992px, 1200px) {
                bottom: inherit;
            }

            @include mv-media(1201px, 1440px) {
                bottom: inherit;
                top: -66px;
                height: 100vh;
            }

            @include mv-media(1441px, 16800px) {
                bottom: inherit;
                top: -70px;
            }
        }

        .sidebar_img_1 {
            left: 0;
            top: 0;
            width: 38%;
            position: absolute;

            @include mv-media(max, 1200px) {
                display: none;
            }
        }

        .sidebar_img_2 {
            position: absolute;
            right: 0;
            top: 150px;
            width: 40%;

            @include mv-media(max, 1200px) {
                display: none;
            }
        }
    }

    .menu_wrap {
        display: table-cell;
        vertical-align: middle;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 98%;

        li {
            font-size: 34px;
            font-weight: 600;
            padding: 15px;
            text-transform: capitalize;
            font-family: $pops-regular;
            color: $color_blue;
            letter-spacing: 1px;

            @include mv-media(max, 767px) {
                font-size: 20px;
            }

            @include mv-media(1201px,1600px){
                font-size: 24px;
                padding: 10px;
            }

            // @include xl-down {
            //     font-size: 36px;
            // }

            // @include lg-down {
            //     font-size: 36px;
            // }

            // @include md-down {
            //     font-size: 28px;
            // }

            // @include sm-down {
            //     font-size: 30px;
            //     letter-spacing: 2px;
            // }

            a {
                text-decoration: none;
                color: $color_blue;
            }
        }

        .menu_social {
            @include mv-media(min, 768px) {
                display: none;
            }

            display: flex;
            /* text-align: center; */
            align-items: center;
            justify-content: space-evenly;
            line-height: 1px;
            position: relative;
            top: 35px;

            @include mv-media(768px, 991px) {
                justify-content: flex-end;
            }

            a {
                text-decoration: none;
                color: $color_blue;
                // padding-left: 25px;

                @include mv-media(max, 991px) {}

                i {
                    color: $color_blue;
                    font-size: 22px;
                }
            }
        }
    }

    .dropmenu {
        padding-bottom: 0;

        .menu_toggle_icon {
            cursor: pointer;

            i {
                transition: all 0.3s linear;
            }

            &.invert {
                i {
                    transform: rotate(180deg);
                }
            }
        }

        .droplist {
            padding-top: 10px;
            display: none;
        }

        li {
            color: $color_yellow;

            a {
                color: $color_yellow;
            }
        }
    }

    &.sidebar_toggle {
        transform: translateX(0);
    }
}
