/*	==========================================================================
	Author: Mvishal Shukla
	Updated: --/--/--
	Notes: Hand Coded SCSS.
	========================================================================== */

/*	==========================================================================
	Table of Contents For Base:
	    #Font Setting
		#html, body
		#Horizontal Space
		    *h-small-space
		    *h-medium-space
		    *h-large-space
		#Top-align
		#Vertical-align
		#Bottom-align
		#Responsive Grid
		#TextField
		#TextArea
		#SelectBox
	========================================================================== */

/*	==========================================================================
		#Font Setting
	========================================================================== */

	@font-face {
	    font-family: "Jadyn-Maria";
	    src: url(../fonts/Jadyn-Maria/Jadyn-Maria.ttf);
	}

	@font-face {
	    font-family: "POPPINS-LIGHT";
	    src: url(../fonts/poppins/POPPINS-LIGHT.TTF);
	}

	@font-face {
	    font-family: "POPPINS-EXTRALIGHT";
	    src: url(../fonts/poppins/POPPINS-EXTRALIGHT.TTF);
	}

	@font-face {
	    font-family: "POPPINS-MEDIUM";
	    src: url(../fonts/poppins/POPPINS-MEDIUM.TTF);
	}

	@font-face {
	    font-family: "POPPINS-REGULAR";
	    src: url(../fonts/poppins/POPPINS-REGULAR.TTF);
	}

	@font-face {
		font-family: "Lato-Black";
		src: url(../fonts/Lato-Black.ttf);
	 }


/*	==========================================================================
		#html,body
	========================================================================== */

	html{
		height: 100%;
		background-color: $color-white;
		body{
			height:100%;
			background-color: $color-white;
		}
	}

/*	==========================================================================
		#Horizontal Space
	========================================================================== */

    .h-small-space{
        height: $height-small-space;
    }

    .h-medium-space{
        height: $height-medium-space;
    }

    .h-large-space{
        height: $height-large-space;
    }

/*	==========================================================================
		#Top-align
	========================================================================== */

	.top-align-container{
		@include mv-align(inner-talign-container, top);
	}


/*	==========================================================================
		#Vertical-align
	========================================================================== */
	
    .vertical-align-container{
        @include mv-align(inner-valign-container, middle);
    }

/*	==========================================================================
		#Bottom-align
	========================================================================== */

	.bottom-align-container{
		@include mv-align(inner-balign-container, bottom);
	}

/*	==========================================================================
		#Responsive Grid
	========================================================================== */

	.grid-container{
		@include mv-border;
		box-sizing: border-box;
		width: 100%;
		&:after{
			content: "";
			clear: both;
			display: block;
		}
		.grid{
			box-sizing: border-box;
			width: (100%/3);
			float: left;
			height: 50px;
			@include mv-border;
			padding: 0 30px;
			@include mv-media(max, 600px){
				width: 100%;
				padding-bottom: 30px;
			};
		}
	}

/*	==========================================================================
		#TextField
	========================================================================== */

	input[type="text"]{
		box-sizing: border-box;
	}

/*	==========================================================================
		#TextArea
	========================================================================== */

	textarea{
		box-sizing: border-box;
	}

/*	==========================================================================
		#SelectBox
	========================================================================== */

	select{
		box-sizing: border-box;
	}



	// common style for all elements

	.tv-history-btn{
		text-align: center;
		a{
			color: inherit;
		}
		.sphereorigins-btn{
			background-color: transparent;
			border: 2px solid $color_head_cursive;
			border-radius: 0;
			font-family: $pops-light;
			font-size: 16px;
			letter-spacing: 2px;

			&:focus{
				outline: none;
			}
		}

	}

	.img-mid{
		margin: 0 auto;
	}

	.no-padd{
		padding-left: 0;
		padding-right: 0;
	}

	.social-icon-bar{
		position: fixed;
	    top: 60%;
	    background-color: $color_yellow;
	    right: 4%;
	    padding: 15px 0;
	    border-radius: 25px;
	    z-index: 99;
	    transform: translateY(-50%);

		a {
		    display: block;
		    text-align: center;
		    padding: 8px 10px;
		    transition: all .3s ease;
		    font-size: 25px;
		    color: #002349;
		}
	}

	.nav-icon3 {
	    width: 24px;
	    height: 18px;
	    margin-left: 10px;
	    margin-top: 5px;
	    position: relative;
	    transform: rotate(0deg);
	    transition: .5s ease-in-out;
	    cursor: pointer;

	    // @include md-down {
	    //     display: block;
	    // }

	    span {
	        display: block;
	        position: absolute;
	        height: 2px;
	        width: 100%;
	        background: $color_head_cursive;
	        border-radius: 9px;
	        opacity: 1;
	        left: 0;
	        transform: rotate(0deg);
	        transition: .25s ease-in-out;

	        &:nth-child(1) {
				top: 0px;
				width: 80%;
				left: auto;
				right: 0;
	        }

	        &:nth-child(2) {
	            top: 7px;
	        }

	        &:nth-child(3) {
				top: 7px;
				background: $color_yellow;
	        }

	        &:nth-child(4) {
				top: 14px;
				width: 50%;
				right: 0;
				left: auto;
	        }
	    }

    &.open {
        span {
            &:nth-child(1) {
                top: 7px;
                width: 0%;
                left: 50%;
            }

            &:nth-child(2) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
				transform: rotate(-45deg);
				background: $color_head_cursive;
            }

            &:nth-child(4) {
                top: 7px;
                width: 0%;
                left: 50%;
            }
		}
		.menu{
			display: none;
		}
    }
}

body{
	margin-top: 100px;
	@include mv-media(max,767px){
		margin-top: 50px;
	}
}

// .black-img-font-mob{
// 	@include mv-media(max,767px){
// 		width: 80%;
// 	}
// }
.yellow-img-font-mob{
	@include mv-media(max,767px){
		width: 80%;
	}
}

// .input-field .error {
// top: calc(100% - 30px) !important;
// }

// .input-field .error.active {
// top: 40px !important;
// transform: translateY(10px) scale(1) !important;
// transform-origin: 0 0 !important;
// }



.input-field {
	position: relative;
	margin-top: 1rem;
}
.input-field .error {
	// top: calc(100% - 30px)!important;
	top: calc(100% - 24px) !important;
	text-transform: inherit;
	left: 0;
	font-size: 12px !important;
	color: #cc1919 !important;
}
.input-field label:not(.label-icon).active {
	-webkit-transform: translateY(-8px) scale(0.8);
	-ms-transform: translateY(-8px) scale(0.8);
	transform: translateY(-8px) scale(0.8);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}
.input-field .error.active {
	// top: 40px!important;
	transform: translateY(10px) scale(1)!important;
	transform-origin: 0 0!important;
}
.upload .error {
	top: 7px !important;
	margin-top: 20px;
	left: 2px !important;
}
.input-field.col label {
	left: 17px;
}



.scroll-div{
	position: absolute;
	bottom:10%;
	left:50%;
	transform: translate(-50%,-50%);
	transition: .5s;
	p{
		color: #f7f8f9;
		text-decoration: none;
		letter-spacing: 1px;
		font-family: $pops-light;
		cursor: pointer;
		
		span{
			width: 30px;
			height: 50px;
			border: 2px solid #fff;
			display: block;
			margin: 0 auto;
			margin-bottom: 10px;
			border-radius: 20px;
			position: relative;
			&::after{
				content: ('');
				width: 5px;
				height: 5px;
				background: #fff;
				border-radius: 50px;
				position: absolute;
				top: 5px;
				left: 50%;
				transform: translate(-50%,-50%);
				animation-name: scroll_dot;
				animation-duration: 1.5s;
				animation-iteration-count: infinite;
				// animation-timing-function: linear;
			}                    
		}
		@keyframes scroll_dot {
			0% {
				top: 10px;
				opacity: 1;
			}
			100% {
				top: 40px;
				opacity: 0;
			}
		}
	}
}

.switch-to{
	margin: 35px 0px;
}

.bold-p{
	font-weight: bold;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: $color_blue; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: $color_yellow;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: $color_yellow;
  }
