<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<p class="copy-text">&copy; <?php echo date("Y"); ?> Sphereorigins. All Rights Reserved</p>
			</div>
			<div class="col-md-4 social-icons">
				<a href="https://www.youtube.com/user/Sphereorigins" target="_blank"><i class="fab fa-youtube"></i></a>
	            <a href="https://in.linkedin.com/company/sphereorigins" target="_blank"><i class="fab fa-linkedin"></i></a>
	            <a href="https://www.facebook.com/Sphereorigins-Multivision-Pvt-Ltd-239590909397722/" target="_blank"><i class="fab fa-facebook-square"></i></a>
			</div>
			<div class="col-md-4">
				<!-- <p class="copy-text">Designed and Developed by <a href="http://www.ting.in" target="_blank">ting</a></p> -->
				<a href="https://www.ting.in/" target="_blank">
					<div class="foot-right ting-unit-wrap">
						<div class="made-by-text">
							<p>made</p>
							<p>by</p>
						</div>
						<img src="dist/img/ting-img.png" class="img-responsive">
					</div>
				</a>
			</div>
		</div>
	</div>
</footer>