<header class="header_fixed" id="hopemotion-header">
    <div class="row no_marg">
        <div class="menu_items menu_icon col-md-4 col-sm-4 col-xs-6">
            <div class="nav-icon3">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="menu">menu</div>
            </div>
        </div>
        <div class="menu_items menu_logo col-md-4 col-sm-4 col-xs-6">
            <a href="hopmotion.php"><img src="dist/img/hopmotion-logo.gif" alt="" class="img-responsive hopemotion-logo"></a>
        </div>
        <!-- <div class="menu_items menu_logo col-md-2 col-sm-4 col-xs-6">
            <a href="index.php"><img src="dist/img/logo.png" alt="" class="img-responsive main-logo"></a>
        </div> -->
        <div class="menu_items menu_social col-md-4 col-sm-4 hidden-xs">
            <!-- <a href="index.php"><img src="dist/img/sphereorigin-logo.gif" alt="" class="img-responsive main-logo"></a> -->
            <a href="https://www.youtube.com/user/Sphereorigins" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://www.linkedin.com/company/sphere-origins-multivision-pvt-ltd/about/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.facebook.com/Sphereorigins-Multivision-Pvt-Ltd-239590909397722/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </div>
    </div>
</header>
