<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="description" content="">
<meta name="theme-color" content="#fbd747">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta property="og:title" content="Sphereorigins" />
<meta property="og:description" content="  SPHEREORIGINS is an award winning, independent television and media production company based in Mumbai, India. The company creates content and produces television dramas with a social impact. It is now one of the most successful and respected entertainment brands seen on Indian television today. " />
<meta property="og:image:secure_url" content="  " />
<meta property="og:image" content="dist/img/og-img-sphere.jpg" />

<title>Sphereorigins</title>

<!-- <link rel="shortcut icon" type="image/x-icon" href="dist/img/favicon.png" /> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/css/lightgallery.min.css">

 <link rel="stylesheet" href="dist/css/app.min.css" />

<!--[if lt IE 9]>
	<script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
<![endif]-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130566299-46"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130566299-46');
</script>