<div class="sidebar">
    <div class="sidebar_img">
        <img src="dist/img/side_bar_bgb.jpg" class="img-responsive sidebar_img_bg">
        <img src="dist/img/side_bar_1.png" class="img-responsive sidebar_img_1">
        <img src="dist/img/side_bar_2.png" class="img-responsive sidebar_img_2">
    </div>
    <ul class="menu_wrap">
        <li><a href="index.php">Home</a></li>
        <li><a href="hopmotion.php">Hopmotion</a></li>
        <!-- <li class="dropmenu">
            <a href="blog.php">Blog</a>
            <span class="menu_toggle_icon"><i class="fas fa-angle-down"></i></span>
            <ul class="droplist">
                <li><a href="blog-inside.php">Blog Inside</a></li>
            </ul>
        </li> -->
        <li class="dropmenu">
            Careers
            <span class="menu_toggle_icon"><i class="fas fa-angle-down"></i></span>
            <ul class="droplist">
                <li><a href="career.php">Hopmotion Careers</a></li>
            </ul>
        </li>
        <li class="dropmenu">
            Our work
            <span class="menu_toggle_icon"><i class="fas fa-angle-down"></i></span>
            <ul class="droplist">
                <!-- <li><a href="show-inside.php">Show Inside</a></li> -->
                <li><a href="shows.php">Shows</a></li>
                <li><a href="telefilms.php">Telefilms</a></li>
                <li><a href="regional.php">Regional</a></li>
                <li><a href="animation.php">Hopmotion Animation</a></li>
            </ul>
        </li>
        <li><a href="auditions.php">Auditions</a></li>
        <li><a href="blog.php">Blog</a></li>
        <li><a href="news.php">News</a></li>
        <li><a href="contact.php">Contact</a></li>
        <div class="menu_items menu_social">
            <a href="https://www.youtube.com/user/Sphereorigins" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://in.linkedin.com/company/sphereorigins" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.facebook.com/Sphereorigins-Multivision-Pvt-Ltd-239590909397722/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </div>
    </ul>
</div>
