<div class="sidebar">
    <ul class="menu_wrap">
        <li><a href="index.php">Home</a></li>
        <li class="dropmenu">
            <a href="blog.php">Blog</a>
            <span class="menu_toggle_icon"><i class="fas fa-angle-down"></i></span>
            <ul class="droplist">
                <li><a href="blog-inside.php">Blog Inside</a></li>
            </ul>
        </li>
        <li class="dropmenu">
            <a href="career.php">careers</a>
            <span class="menu_toggle_icon"><i class="fas fa-angle-down"></i></span>
            <ul class="droplist">
                <li><a href="career-inside.php">careers Inside</a></li>
            </ul>
        </li>
        <li class="dropmenu">
            <a href="shows.php">Our Work</a>
            <span class="menu_toggle_icon"><i class="fas fa-angle-down"></i></span>
            <ul class="droplist">
                <li><a href="show-inside.php">Show Inside</a></li>
            </ul>
        </li>
        <li><a href="contact.php">Contact</a></li>
        <div class="menu_items menu_social">
            <a href="https://www.youtube.com/user/Sphereorigins" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://www.linkedin.com/company/sphere-origins-multivision-pvt-ltd/about/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.facebook.com/Sphereorigins-Multivision-Pvt-Ltd-239590909397722/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </div>
    </ul>
    
</div>
