<div class="social-icon-bar hidden-xs">
    <a href="javascript:void(0)">
        <i class="fas fa-share-alt"></i>
    </a>
    <a href="#" class="youtube">
        <i class="fab fa-youtube"></i>
    </a>
    <a href="#" target="_blank" class="insta">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="#" target="_blank" class="twitter">
        <i class="fab fa-facebook-square"></i>
    </a>
</div>